# Analyze Learnable Network

In [1]:
# Packages
import pandas as pd
from stattotex import *

## Load Data

In [2]:
# Load feature and class data
feature_and_class_df = pd.read_excel('../../../Data/Learnable Network/feature_and_class_df.xlsx')
feature_and_class_df

,ticker,fixed_quarter_date,earnings_call_date,Rating,rating_date,Next Rating,Next Rating Date,Previous Rating,Previous Rating Date,next_rating_date_or_end_of_data,...,Ovrst,Undrst,PN,SW,AP,OU,tone,num_q_by_len,train_test_80_20,node
0,AAPL,2014-10-01,2014-07-22,AA,2014-05-27,AA,2015-02-18,AAA,2014-04-24,2015-02-18,...,364,131,5.518519,15.261905,2.661290,2.778626,3.188264,0.003822,train,1208
1,AAPL,2015-01-01,2014-10-20,AA,2014-05-27,AA,2015-02-18,AAA,2014-04-24,2015-02-18,...,465,152,5.348485,15.934783,3.296482,3.059211,3.681858,0.002766,train,334
2,AAPL,2015-04-01,2015-01-27,AA,2015-02-18,AA,2015-05-28,AA,2014-05-27,2015-05-28,...,468,151,3.927711,8.113636,2.841346,3.099338,1.307366,0.004628,train,1694
3,AAPL,2015-07-01,2015-04-27,AA,2015-06-02,AA,2015-08-25,AA,2015-05-28,2015-08-25,...,415,135,5.250000,9.142857,2.640187,3.074074,2.025933,0.003861,train,90
4,AAPL,2015-10-01,2015-07-21,AA,2015-08-25,AA,2016-05-20,AA,2015-06-02,2016-05-20,...,449,148,4.209877,10.442857,2.579909,3.033784,1.815531,0.003915,train,808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1958,ZBRA,2016-01-01,2015-11-10,B,2015-09-03,B,2016-09-26,NaN,NaN,2016-09-26,...,431,202,2.662338,13.586667,2.768293,2.133663,0.982796,0.005321,train,141
1959,ZBRA,2016-04-01,2016-02-25,B,2015-09-03,B,2016-09-26,NaN,NaN,2016-09-26,...,449,173,3.991071,13.574713,2.382550,2.595376,1.925784,0.002704,train,40
1960,ZBRA,2016-07-01,2016-05-10,B,2015-09-03,B,2016-09-26,NaN,NaN,2016-09-26,...,394,197,2.671053,8.080357,2.446970,2.000000,-0.423271,0.002775,train,1449
1961,ZBRA,2016-10-01,2016-08-09,B,2016-09-26,NaN,NaN,B,2015-09-03,2016-12-31,...,403,183,3.625954,12.151163,3.066116,2.202186,1.210391,0.003215,test,298
1962,ZTS,2015-04-01,2015-02-11,BBB,2015-01-30,BBB,2015-11-03,BBB,2014-01-31,2015-11-03,...,366,179,2.992000,13.830986,2.276094,2.044693,0.981249,0.003480,train,930

In [3]:
# Load source - destination data
src_dst_df = pd.read_excel('../../../Data/Learnable Network/src_dst_df.xlsx')
src_dst_df

       src   dst
0      119  1525
1      870  1525
2     1359  1525
3     1907  1525
4      491  1525
...    ...   ...
1800  1124  1454
1801   619   434
1802  1279   996
1803    14   484
1804    14   495

[1805 rows x 2 columns]

## Analysis

In [4]:
# Number of train nodes
num_train_nodes = len(feature_and_class_df[feature_and_class_df['train_test_80_20'] == 'train'])
# format with comma
num_train_nodes = "{:,}".format(num_train_nodes)
print('num_train_nodes:', num_train_nodes)
stattotex(num_train_nodes, 'numTrainNodes', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')
# Number of test nodes
num_test_nodes = len(feature_and_class_df[feature_and_class_df['train_test_80_20'] == 'test'])
# format with comma
num_test_nodes = "{:,}".format(num_test_nodes)
print('num_test_nodes:', num_test_nodes)
stattotex(num_test_nodes, 'numTestNodes', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')
# Number of nodes
num_nodes = len(feature_and_class_df)
# format with comma
num_nodes = "{:,}".format(num_nodes)
print('num_nodes:', num_nodes)
stattotex(num_nodes, 'numNodes', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

# Average degree/number of connections
src_dst_df_reversed = src_dst_df[['dst', 'src']].rename(columns={'dst': 'src', 'src': 'dst'})
full_src_dst_df = pd.concat([src_dst_df, src_dst_df_reversed]).drop_duplicates()
print('len(full_src_dst_df):', len(full_src_dst_df))
average_degree = round(full_src_dst_df.groupby('src').count().mean().values[0], 2)
print('average_degree:', average_degree)
stattotex(average_degree, 'averageDegree', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

# Number of edges
num_edges = len(src_dst_df)
# format with comma
num_edges = "{:,}".format(num_edges)
print('num_edges:', num_edges)
stattotex(num_edges, 'numEdges', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

# Number of classes
num_classes = len(feature_and_class_df['Rating'].unique())
print('num_classes:', num_classes)
stattotex(num_classes, 'numClasses', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

num_train_nodes: 1,562
num_test_nodes: 401
num_nodes: 1,963
len(full_src_dst_df): 3532
average_degree: 1.8
num_edges: 1,805
num_classes: 8