# Analyze Learnable Network

In [9]:
# Packages
import pandas as pd
from stattotex import *

## Load Data

In [10]:
# Load feature and class data
feature_and_class_df = pd.read_excel('../../../Data/Learnable Network/feature_and_class_df.xlsx')
feature_and_class_df

,ticker,fixed_quarter_date,earnings_call_date,Rating,rating_date,Next Rating,Next Rating Date,Previous Rating,Previous Rating Date,next_rating_date_or_end_of_data,...,Ovrst,Undrst,PN,SW,AP,OU,tone,num_q_by_len,train_test_80_20,node
0,AAPL,2014-10-01,2014-07-22,AA,2014-05-27,AA,2015-02-18,AAA,2014-04-24,2015-02-18,...,364,131,5.518519,15.261905,2.661290,2.778626,3.188264,0.003822,train,1142
1,AAPL,2015-01-01,2014-10-20,AA,2014-05-27,AA,2015-02-18,AAA,2014-04-24,2015-02-18,...,465,152,5.348485,15.934783,3.296482,3.059211,3.681858,0.002766,train,2685
2,AAPL,2015-04-01,2015-01-27,AA,2015-02-18,AA,2015-05-28,AA,2014-05-27,2015-05-28,...,468,151,3.927711,8.113636,2.841346,3.099338,1.307366,0.004628,train,3985
3,AAPL,2015-07-01,2015-04-27,AA,2015-06-02,AA,2015-08-25,AA,2015-05-28,2015-08-25,...,415,135,5.250000,9.142857,2.640187,3.074074,2.025933,0.003861,train,4681
4,AAPL,2015-10-01,2015-07-21,AA,2015-08-25,AA,2016-05-20,AA,2015-06-02,2016-05-20,...,449,148,4.209877,10.442857,2.579909,3.033784,1.815531,0.003915,train,2690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4824,ZTS,2015-10-01,2015-08-04,BBB,2015-01-30,BBB,2015-11-03,BBB,2014-01-31,2015-11-03,...,298,148,3.611650,15.634615,2.911215,2.013514,1.744657,0.001458,train,4150
4825,ZTS,2016-01-01,2015-11-03,BBB,2015-11-03,BBB,2016-01-22,BBB,2015-01-30,2016-01-22,...,395,222,3.766917,15.848101,2.791667,1.779279,1.596294,0.003859,train,833
4826,ZTS,2016-04-01,2016-02-16,BBB,2016-01-22,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,...,469,217,3.565517,17.506849,2.926829,2.161290,2.287146,0.003928,train,3236
4827,ZTS,2016-07-01,2016-05-04,BBB,2016-01-22,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,...,449,215,3.572650,15.235294,3.023715,2.088372,1.739992,0.003182,train,871
4828,ZTS,2016-10-01,2016-08-03,BBB,2016-01-22,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,...,460,201,2.858896,12.395349,2.840000,2.288557,0.976340,0.002697,train,933

In [11]:
# Load source - destination data
src_dst_df = pd.read_excel('../../../Data/Learnable Network/src_dst_df.xlsx')
src_dst_df

        src   dst
0      1142  1166
1      1855  1166
2       857  1166
3      2356  1166
4      4783  1166
...     ...   ...
12917  3106  2848
12918  4601  1271
12919  2315  1623
12920  1402  3009
12921  3980  3248

[12922 rows x 2 columns]

## Analysis

In [12]:
# Number of train nodes
num_train_nodes = len(feature_and_class_df[feature_and_class_df['train_test_80_20'] == 'train'])
# format with comma
num_train_nodes = "{:,}".format(num_train_nodes)
print('num_train_nodes:', num_train_nodes)
stattotex(num_train_nodes, 'numTrainNodes', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')
# Number of test nodes
num_test_nodes = len(feature_and_class_df[feature_and_class_df['train_test_80_20'] == 'test'])
# format with comma
num_test_nodes = "{:,}".format(num_test_nodes)
print('num_test_nodes:', num_test_nodes)
stattotex(num_test_nodes, 'numTestNodes', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')
# Number of nodes
num_nodes = len(feature_and_class_df)
# format with comma
num_nodes = "{:,}".format(num_nodes)
print('num_nodes:', num_nodes)
stattotex(num_nodes, 'numNodes', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

# Average degree/number of connections
src_dst_df_reversed = src_dst_df[['dst', 'src']].rename(columns={'dst': 'src', 'src': 'dst'})
full_src_dst_df = pd.concat([src_dst_df, src_dst_df_reversed]).drop_duplicates()
print('len(full_src_dst_df):', len(full_src_dst_df))
average_degree = round(full_src_dst_df.groupby('src').count().mean().values[0], 2)
print('average_degree:', average_degree)
stattotex(average_degree, 'averageDegree', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

# Number of edges
num_edges = len(src_dst_df)
# format with comma
num_edges = "{:,}".format(num_edges)
print('num_edges:', num_edges)
stattotex(num_edges, 'numEdges', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

# Number of classes
num_classes = len(feature_and_class_df['Rating'].unique())
print('num_classes:', num_classes)
stattotex(num_classes, 'gnnNumClasses', '../../../Output/Modelling/Graph Neural Network/learnable_net_stats.tex')

num_train_nodes: 3,849
num_test_nodes: 980
num_nodes: 4,829
len(full_src_dst_df): 24264
average_degree: 5.02
num_edges: 12,922
num_classes: 9