# Train Graph NN on Call Mentions

Considering direct mentions of companies in calls, construct a network of calls

In [1]:
# Packages
from Inductive_Graph_NN_Functions import *
model_name = 'exclude_previous_rating_model_1'

## Load Pairwise Mentions Data

In [2]:
src_dst_df = load_src_dst_data()
src_dst_df

     ticker1_fixed_quarter_date ticker2_fixed_quarter_date
0             AAPL : 2015-01-01          ACIW : 2015-01-01
1             AAPL : 2012-04-01           ADP : 2012-04-01
2             AAPL : 2014-07-01          ADSK : 2014-07-01
3             AAPL : 2016-01-01          ADSK : 2016-01-01
4             AAPL : 2015-01-01          ALGT : 2015-01-01
...                         ...                        ...
2681          TMUS : 2012-04-01           VMI : 2012-04-01
2682          TMUS : 2012-10-01           VMI : 2012-10-01
2683           TOL : 2014-01-01           VGR : 2014-01-01
2684           WEC : 2013-01-01           XEL : 2013-01-01
2685           WEC : 2014-01-01           XEL : 2014-01-01

[2686 rows x 2 columns]

## Load Feature and Class Data

In [3]:
# Load feature and class data
feature_and_class_df = load_feature_and_class_data()
feature_and_class_df

,ticker,fixed_quarter_date,earnings_call_date,Rating,rating_date,Next Rating,Next Rating Date,Previous Rating,Previous Rating Date,next_rating_date_or_end_of_data,...,Ovrst,Undrst,PN,SW,AP,OU,TONE1,num_q_by_len,pos_score_finbert,train_test_80_20
0,AAPL,2014-10-01,2014-07-22,AA,2014-05-27,AA,2015-02-18,AAA,2014-04-24,2015-02-18,...,364.0,131.0,5.518519,15.261905,2.661290,2.778626,3.188264,0.003822,0.765917,test
1,AAPL,2015-01-01,2014-10-20,AA,2014-05-27,AA,2015-02-18,AAA,2014-04-24,2015-02-18,...,465.0,152.0,5.348485,15.934783,3.296482,3.059211,3.681858,0.002766,0.731819,test
2,AAPL,2015-04-01,2015-01-27,AA,2015-02-18,AA,2015-05-28,AA,2014-05-27,2015-05-28,...,468.0,151.0,3.927711,8.113636,2.841346,3.099338,1.307366,0.004628,0.690750,train
3,AAPL,2015-07-01,2015-04-27,AA,2015-06-02,AA,2015-08-25,AA,2015-05-28,2015-08-25,...,415.0,135.0,5.250000,9.142857,2.640187,3.074074,2.025933,0.003861,0.822168,train
4,AAPL,2015-10-01,2015-07-21,AA,2015-08-25,AA,2016-05-20,AA,2015-06-02,2016-05-20,...,449.0,148.0,4.209877,10.442857,2.579909,3.033784,1.815531,0.003915,0.808114,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,MHO,2013-10-01,2013-07-25,CC,2013-05-07,CC,2013-11-06,CCC,2012-11-29,2013-11-06,...,180.0,82.0,7.153846,10.225000,2.418033,2.195122,2.140598,0.002420,0.875061,train
545,MHO,2014-01-01,2013-10-24,CC,2013-11-06,CCC,2014-07-31,CC,2013-05-07,2014-07-31,...,294.0,166.0,4.516129,6.771084,3.039474,1.771084,-0.029287,0.003039,0.472842,train
546,MHO,2014-04-01,2014-01-29,CC,2013-11-06,CCC,2014-07-31,CC,2013-05-07,2014-07-31,...,325.0,158.0,3.835821,7.078947,3.264706,2.056962,0.084888,0.002848,0.615996,train
547,MHO,2014-07-01,2014-04-24,CC,2013-11-06,CCC,2014-07-31,CC,2013-05-07,2014-07-31,...,194.0,103.0,3.703704,6.944444,2.590551,1.883495,-0.319794,0.001551,0.382700,train
548,WTI,2016-07-01,2016-05-05,CC,2016-04-21,B,2016-09-13,B,2015-04-23,2016-09-13,...,112.0,61.0,1.725490,4.702703,2.960784,1.836066,-1.619389,0.002655,0.210853,train

In [ ]:
# Load column names
numeric_feature_columns, cat_feature_columns, target_column, custom_mapping = get_column_names_and_mapping(model_name)

In [ ]:
# Prepare matrices
X_train_scaled, X_test_scaled, y_train, y_test, feature_names = prepare_matrices(feature_and_class_df, numeric_feature_columns, cat_feature_columns, target_column, custom_mapping)

In [ ]:
# Assemble back into dataframes
train_and_val_df = pd.DataFrame(X_train_scaled, columns=feature_names)
train_and_val_df[target_column] = y_train
test_df = pd.DataFrame(X_test_scaled, columns=feature_names)
test_df[target_column] = y_test

## Run the Inductive Model

In [ ]:
run_inductive_model(train_and_val_df = train_and_val_df,
                          test_df = test_df,
                          src_dst_df = src_dst_df,
                          model_dir = '../../../Output/Modelling/Graph Neural Network/' + model_name + '/',
                          prediction_file_path = '../../../Data/Predictions/Graph Neural Network/' + model_name + '_predictions.xlsx',
                          target_column = target_column,
                          n_hidden = 64,
                          n_layers = 2,
                          dropout = 0.0,
                          weight_decay = 5e-4,
                          n_epochs = 100,
                          lr = 0.01,
                          aggregator_type = "pool")