# Create Combined All Data

In [22]:
# Whether this is a sample/debug run or not
DEBUG = False

In [23]:
# Packages
import pandas as pd
import openpyxl

In [24]:
# Load ~\Box\STAT 222 Capstone\Intermediate Data\credit_ratings_on_earnings_call_dates.csv
credit_ratings_on_earnings_call_dates = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\credit_ratings_on_earnings_call_dates.csv')
credit_ratings_on_earnings_call_dates

,ticker,earnings_call_date,next_earnings_call_date,rating_on_next_earnings_call_date,days_until_next_earnings_call,Rating,Rating Agency Name,rating_date,Source,Rating Rank AAA is 10,Next Rating,Next Rating Date,Previous Rating,Previous Rating Date,next_rating_date_or_end_of_data,Type,Change in Rating,Year,lead_2_earnings_call_date,lead_2_rating
0,ABBV,2014-07-25,2014-10-31,A,98.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN,2014,2015-01-30,A
1,ABBV,2014-10-31,2015-01-30,A,91.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN,2014,2015-04-23,A
2,ABBV,2015-01-30,2015-04-23,A,83.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN,2014,2015-07-24,A
3,ABBV,2015-04-23,2015-07-24,A,92.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN,2014,2015-10-30,A
4,ABBV,2015-07-24,2015-10-30,A,98.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,NaN,NaN,NaN,NaN,2016-12-31,Ambiguous,NaN,2014,2016-01-29,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4554,ZTS,2015-11-03,2016-02-16,BBB,105.0,BBB,Standard & Poor's Ratings Services,2015-11-03,Supplementary,7,BBB,2016-01-22,BBB,2015-01-30,2016-01-22,Affirmation,0.0,2015,2016-05-04,BBB
4555,ZTS,2016-02-16,2016-05-04,BBB,78.0,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,Affirmation,0.0,2016,2016-08-03,BBB
4556,ZTS,2016-05-04,2016-08-03,BBB,91.0,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,Affirmation,0.0,2016,2016-11-02,BBB
4557,ZTS,2016-08-03,2016-11-02,BBB,91.0,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,Affirmation,0.0,2016,NaN,NaN
4558,ZTS,2016-11-02,NaN,NaN,NaN,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,BBB,2016-12-23,BBB,2015-11-03,2016-12-23,Affirmation,0.0,2016,NaN,NaN

In [25]:
# Load ~\Box\STAT 222 Capstone\Intermediate Data\calls.csv
if DEBUG:
    calls = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\calls.csv', nrows = 10)
else:
    calls = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\calls.csv')
# Delete the first column (index)
calls = calls.iloc[:,1:]
# Convert date to be just the date part
calls['date'] = calls['date'].str[:10]
calls

,company,sector,year,quarter,date,transcript
0,ADNT,automobiles,2017,2,2017-04-28,"Operator: Welcome, and thank you all for stand..."
1,ADNT,automobiles,2017,3,2017-07-27,"Operator: Welcome, and thank for standing by. ..."
2,ADNT,automobiles,2017,4,2017-11-05,"Operator: Welcome, and thank you for standing ..."
3,ADNT,automobiles,2018,1,2018-01-29,"Operator: Welcome, and thank you for joining t..."
4,ADNT,automobiles,2018,2,2018-05-03,"Operator: Welcome, and thank you all for stand..."
...,...,...,...,...,...,...
62069,KMX,retail,2022,3,2021-12-22,"Operator: Ladies and gentlemen, thank you for ..."
62070,KMX,retail,2022,4,2022-04-12,Operator: Thank you for standing by. Welcome t...
62071,KMX,retail,2023,1,2022-06-24,"Operator: Good day, and welcome to the CarMax ..."
62072,KMX,retail,2023,2,2022-09-29,"Operator: Good day, and welcome to the CarMax ..."
62073,KSS,retail,2007,3,2007-08-17,Operator: Good day everyone and welcome to Koh...

In [26]:
# Inner join credit_ratings_on_earnings_call_dates.csv (on columns ticker, earnings_call_date) with calls.csv (on columns company, date)
merged = pd.merge(credit_ratings_on_earnings_call_dates, calls, left_on=['ticker', 'earnings_call_date'], right_on=['company', 'date'], how='inner')
merged

# Print range of dates
print('date range')
print(merged['date'].min())
print(merged['date'].max())

# Range of year, Year
for variable in ['year', 'Year']:
    print(variable)
    print(merged[variable].min())
    print(merged[variable].max())

# Print rows where year is greater than 2016
# This is due to inconsistencies in the earnings call data year variable
print('years greater than 2016')
print(merged[merged['year'] > 2016][['earnings_call_date', 'ticker', 'company', 'date', 'year', 'Year']])

# Free up memory from calls
del calls

date range
2010-07-31
2016-12-22
year
2010
2019
Year
2010
2016
years greater than 2016
     earnings_call_date ticker company        date  year  Year
33           2016-11-02    ABC     ABC  2016-11-02  2017  2016
122          2016-11-08    ALB     ALB  2016-11-08  2017  2014
136          2016-11-02   ALKS    ALKS  2016-11-02  2017  2016
144          2016-08-25   AMCR    AMCR  2016-08-25  2019  2016
227          2016-10-27    APD     APD  2016-10-27  2017  2011
...                 ...    ...     ...         ...   ...   ...
4465         2016-09-28    WOR     WOR  2016-09-28  2017  2014
4466         2016-12-20    WOR     WOR  2016-12-20  2017  2014
4472         2016-11-07    WRK     WRK  2016-11-07  2017  2015
4478         2016-10-18    WWW     WWW  2016-10-18  2017  2016
4558         2016-11-02    ZTS     ZTS  2016-11-02  2017  2016

[156 rows x 6 columns]

In [27]:
# Inner join this with the three tabuler_fin_data files (on columns company, year, quarter from earnings calls and columns symbol, calendarYear, period (with Q removed) from fin data)

files_to_load = [r'balance_sheet', r'cash_flow_statement', r'income_statement']

# Loop through and inner join each file onto merged
for file in files_to_load:
    print('loading ' + file)
    df = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\tabuler_fin_data(' + file + r').csv')
    # Delete the first column (index)
    df = df.iloc[:,1:]
    # Remove Q from period
    df['period'] = df['period'].str.replace('Q', '')
    # Convert to int
    df['period'] = df['period'].astype(int)
    # Print values of Period
    print(df['period'].unique())
    merged = pd.merge(merged, df, left_on=['company', 'year', 'quarter'], right_on=['symbol', 'calendarYear', 'period'], how='inner')
    # Remove suffix _x
    merged.columns = merged.columns.str.replace('_x', '')
    # Harmonize suffix y
    merged.columns = merged.columns.str.replace('_y', '_' + file)
    del df
    
merged

loading balance_sheet
[3 2 1 4]
loading cash_flow_statement
[3 2 1 4]
loading income_statement
[3 2 1 4]

,ticker,earnings_call_date,next_earnings_call_date,rating_on_next_earnings_call_date,days_until_next_earnings_call,Rating,Rating Agency Name,rating_date,Source,Rating Rank AAA is 10,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome_income_statement,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link_income_statement,finalLink_income_statement
0,ABBV,2014-07-25,2014-10-31,A,98.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,...,0.290905,335000000.0,1.098000e+09,0.222899,0.69,0.68,1.594000e+09,1.608000e+09,https://www.sec.gov/Archives/edgar/data/155115...,https://www.sec.gov/Archives/edgar/data/155115...
1,ABBV,2014-10-31,2015-01-30,A,91.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,...,0.136880,181000000.0,5.060000e+08,0.100817,0.32,0.31,1.595000e+09,1.610000e+09,https://www.sec.gov/Archives/edgar/data/155115...,https://www.sec.gov/Archives/edgar/data/155115...
2,ABBV,2015-01-30,2015-04-23,A,83.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,...,-0.190205,-227000000.0,-8.100000e+08,-0.148569,-0.51,-0.51,1.591389e+09,1.597000e+09,https://www.sec.gov/Archives/edgar/data/155115...,https://www.sec.gov/Archives/edgar/data/155115...
3,ABBV,2015-04-23,2015-07-24,A,92.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,...,0.276984,374000000.0,1.022000e+09,0.202778,0.64,0.63,1.595000e+09,1.608000e+09,https://www.sec.gov/Archives/edgar/data/155115...,https://www.sec.gov/Archives/edgar/data/155115...
4,ABBV,2015-07-24,2015-10-30,A,98.0,A,Standard & Poor's Ratings Services,2014-07-18,Original,8,...,0.306484,312000000.0,1.366000e+09,0.249498,0.84,0.83,1.620000e+09,1.633000e+09,https://www.sec.gov/Archives/edgar/data/155115...,https://www.sec.gov/Archives/edgar/data/155115...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4527,ZTS,2015-11-03,2016-02-16,BBB,105.0,BBB,Standard & Poor's Ratings Services,2015-11-03,Supplementary,7,...,0.285714,128000000.0,2.040000e+08,0.175559,0.41,0.41,4.973990e+08,4.995390e+08,https://www.sec.gov/Archives/edgar/data/155528...,https://www.sec.gov/Archives/edgar/data/155528...
4528,ZTS,2016-02-16,2016-05-04,BBB,78.0,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,...,0.274834,108000000.0,2.240000e+08,0.185430,0.45,0.45,4.963000e+08,4.988000e+08,https://www.sec.gov/Archives/edgar/data/155528...,https://www.sec.gov/Archives/edgar/data/155528...
4529,ZTS,2016-05-04,2016-08-03,BBB,91.0,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,...,0.268332,96000000.0,2.390000e+08,0.192587,0.48,0.48,4.952000e+08,4.979000e+08,https://www.sec.gov/Archives/edgar/data/155528...,https://www.sec.gov/Archives/edgar/data/155528...
4530,ZTS,2016-08-03,2016-11-02,BBB,91.0,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,...,0.180893,77000000.0,1.540000e+08,0.120595,0.31,0.31,4.939320e+08,4.966380e+08,https://www.sec.gov/Archives/edgar/data/155528...,https://www.sec.gov/Archives/edgar/data/155528...
4531,ZTS,2016-11-02,NaN,NaN,NaN,BBB,Standard & Poor's Ratings Services,2016-01-22,Both,7,...,0.273761,98000000.0,2.380000e+08,0.193339,0.48,0.48,4.924000e+08,4.953000e+08,https://www.sec.gov/Archives/edgar/data/155528...,https://www.sec.gov/Archives/edgar/data/155528...

In [28]:
# Rating change variables
# Get numeric values for Rating and rating_on_next_earnings_call_date
# Encode Ratings as ordinal
rating_order = ['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'CCC', 'CC', 'C', 'D']
# Reverse
rating_order = rating_order[::-1]
# Create dictionary mapping to number values
rating_dict = {rating: i for i, rating in enumerate(rating_order, 1)}
# Create new column "Rating Rank AAA is 10"
merged['Rating Rank AAA is 10'] = merged['Rating'].map(rating_dict)
# Create new column "Rating on Next Earnings Call Date Rank AAA is 10"
merged['Rating on Next Earnings Call Date Rank AAA is 10'] = merged['rating_on_next_earnings_call_date'].map(rating_dict)

# Cross tab Rating and 'Rating Rank AAA is 10'
print(pd.crosstab(merged['Rating'], merged['Rating Rank AAA is 10']))
# Cross tab rating_on_next_earnings_call_date and 'Rating on Next Earnings Call Date Rank AAA is 10'
print(pd.crosstab(merged['rating_on_next_earnings_call_date'], merged['Rating on Next Earnings Call Date Rank AAA is 10']))

Rating Rank AAA is 10  2   3    4    5     6     7    8    9   10
Rating
A                       0   0    0    0     0     0  939    0   0
AA                      0   0    0    0     0     0    0  222   0
AAA                     0   0    0    0     0     0    0    0  82
B                       0   0    0  529     0     0    0    0   0
BB                      0   0    0    0  1131     0    0    0   0
BBB                     0   0    0    0     0  1453    0    0   0
C                      16   0    0    0     0     0    0    0   0
CC                      0   4    0    0     0     0    0    0   0
CCC                     0   0  156    0     0     0    0    0   0
Rating on Next Earnings Call Date Rank AAA is 10  2.0   3.0   4.0   5.0   \
rating_on_next_earnings_call_date
A                                                    0     0     0     0
AA                                                   0     0     0     0
AAA                                                  0     0     0     0
B                                                    0     0     0   475
BB                                                   0     0     0     0
BBB                                                  0     0     0     0
C                                                   15     0     0     0
CC                                                   0     4     0     0
CCC                                                  0     0   145     0

Rating on Next Earnings Call Date Rank AAA is 10  6.0   7.0   8.0   9.0   10.0
rating_on_next_earnings_call_date
A                                                    0     0   894     0     0
AA                                                   0     0     0   205     0
AAA                                                  0     0     0     0    78
B                                                    0     0     0     0     0
BB                                                1043     0     0     0     0
BBB                                                  0  1354     0     0     0
C                                                    0     0     0     0     0
CC                                                   0     0     0     0     0
CCC                                                  0     0     0     0     0

In [29]:
# Variable for change before next call
def change(row):
    if row['Rating Rank AAA is 10'] > row['Rating on Next Earnings Call Date Rank AAA is 10']:
        return 'Downgrade Before Next Call'
    elif row['Rating Rank AAA is 10'] < row['Rating on Next Earnings Call Date Rank AAA is 10']:
        return 'Upgrade Before Next Call'
    elif row['Rating Rank AAA is 10'] == row['Rating on Next Earnings Call Date Rank AAA is 10']:
        return 'Same At Next Call'
    else:
        return None

# Apply function to create new column
merged['Change Direction Before Next Call'] = merged.apply(change, axis = 1)

# Also numeric version 'Change Before Next Call'
merged['Change Before Next Call'] = merged['Rating on Next Earnings Call Date Rank AAA is 10'] - merged['Rating Rank AAA is 10']

# Cross tab 'Change Direction Before Next Call' and 'Change Before Next Call'
print(pd.crosstab(merged['Change Direction Before Next Call'], merged['Change Before Next Call']))

Change Before Next Call            -2.0  -1.0   0.0   1.0   2.0
Change Direction Before Next Call
Downgrade Before Next Call            9    93     0     0     0
Same At Next Call                     0     0  3981     0     0
Upgrade Before Next Call              0     0     0   117    13

In [30]:
# Print range of dates
print('date range')
print(merged['date'].min())
print(merged['date'].max())

# Range of year, Year, calendarYear
for variable in ['year', 'Year', 'calendarYear']:
    print(variable)
    print(merged[variable].min())
    print(merged[variable].max())

date range
2010-07-31
2016-12-22
year
2010
2019
Year
2010
2016
calendarYear
2010
2019

In [31]:
# Summarize columns
print(merged.info())
# print column names
print(merged.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4532 entries, 0 to 4531
Columns: 161 entries, ticker to Change Before Next Call
dtypes: float64(106), int32(3), int64(10), object(42)
memory usage: 5.5+ MB
None
Index(['ticker', 'earnings_call_date', 'next_earnings_call_date',
       'rating_on_next_earnings_call_date', 'days_until_next_earnings_call',
       'Rating', 'Rating Agency Name', 'rating_date', 'Source',
       'Rating Rank AAA is 10',
       ...
       'netIncomeRatio', 'eps', 'epsdiluted', 'weightedAverageShsOut',
       'weightedAverageShsOutDil', 'link_income_statement',
       'finalLink_income_statement',
       'Rating on Next Earnings Call Date Rank AAA is 10',
       'Change Direction Before Next Call', 'Change Before Next Call'],
      dtype='object', length=161)

In [32]:
# Save all_data.csv to ~\Box\STAT 222 Capstone\Intermediate Data
merged.to_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\all_data.csv', index=False)

In [ ]:
# Save a parquet file as well
merged.to_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\all_data.parquet', index=False)

In [ ]:
# Sample 100 rows to create all_data_sample.csv
if not DEBUG:
    all_data_sample = merged.sample(100)
    all_data_sample.to_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\all_data_sample.csv', index=False)
    # also save to xlsx
    all_data_sample.to_excel(r'~\Box\STAT 222 Capstone\Intermediate Data\all_data_sample.xlsx', index=False)