# Create Combined All Data - Fixed Quarter Dates

1. Credit Rating  
    * File: credit_ratings_on_fixed_quarter_dates.csv  
    * Columns: rating, symbol, rating agency, date, previous/next rating/date, type, change in rating ...  
    * Size: 9117 × 16  
    * 638 unique companies  
2. Earnings Call  
    * File: calls_short.csv  
    * Columns: company, sector, year, quarter, date, transcript  
    * Size: 24580 x 6  
    * 1322 unique companies  
3. Financial Data  
    * File: combined_financial_data_short.csv  
    * Columns: date, symbol, year, period, filing_date, financial variables, ...  
    * Size: 22488 × 126  
    * 862 unique companies

In [1]:
# Whether this is a sample/debug run or not
DEBUG = False

In [2]:
# Packages
import pandas as pd
import openpyxl

In [3]:
# Load ~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\credit_ratings_on_fixed_quarter_dates_with_earnings_call_date.csv
cr_and_dates = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\credit_ratings_on_fixed_quarter_dates_with_earnings_call_date.csv')
print(cr_and_dates)

     ticker          fixed_quarter_date earnings_call_date Rating  \
0      ABBV  2014-10-01 00:00:00.000000         2014-07-25      A
1      ABBV  2015-01-01 00:00:00.000000         2014-10-31      A
2      ABBV  2015-04-01 00:00:00.000000         2015-01-30      A
3      ABBV  2015-07-01 00:00:00.000000         2015-04-23      A
4      ABBV  2015-10-01 00:00:00.000000         2015-07-24      A
...     ...                         ...                ...    ...
4393    ZTS  2015-10-01 00:00:00.000000         2015-08-04    BBB
4394    ZTS  2016-01-01 00:00:00.000000         2015-11-03    BBB
4395    ZTS  2016-04-01 00:00:00.000000         2016-02-16    BBB
4396    ZTS  2016-07-01 00:00:00.000000         2016-05-04    BBB
4397    ZTS  2016-10-01 00:00:00.000000         2016-08-03    BBB

                      Rating Agency Name rating_date         Source  \
0     Standard & Poor's Ratings Services  2014-07-18       Original
1     Standard & Poor's Ratings Services  2014-07-18       Original
2     Standard & Poor's Ratings Services  2014-07-18       Original
3     Standard & Poor's Ratings Services  2014-07-18       Original
4     Standard & Poor's Ratings Services  2014-07-18       Original
...                                  ...         ...            ...
4393  Standard & Poor's Ratings Services  2015-01-30           Both
4394  Standard & Poor's Ratings Services  2015-11-03  Supplementary
4395  Standard & Poor's Ratings Services  2016-01-22           Both
4396  Standard & Poor's Ratings Services  2016-01-22           Both
4397  Standard & Poor's Ratings Services  2016-01-22           Both

      Rating Rank AAA is 10 Next Rating Next Rating Date Previous Rating  \
0                         8         NaN              NaN             NaN
1                         8         NaN              NaN             NaN
2                         8         NaN              NaN             NaN
3                         8         NaN              NaN             NaN
4                         8         NaN              NaN             NaN
...                     ...         ...              ...             ...
4393                      7         BBB       2015-11-03             BBB
4394                      7         BBB       2016-01-22             BBB
4395                      7         BBB       2016-12-23             BBB
4396                      7         BBB       2016-12-23             BBB
4397                      7         BBB       2016-12-23             BBB

     Previous Rating Date next_rating_date_or_end_of_data  credit_rating_year  \
0                     NaN                      2016-12-31                2014
1                     NaN                      2016-12-31                2014
2                     NaN                      2016-12-31                2014
3                     NaN                      2016-12-31                2014
4                     NaN                      2016-12-31                2014
...                   ...                             ...                 ...
4393           2014-01-31                      2015-11-03                2015
4394           2015-01-30                      2016-01-22                2015
4395           2015-11-03                      2016-12-23                2016
4396           2015-11-03                      2016-12-23                2016
4397           2015-11-03                      2016-12-23                2016

     previous_fixed_quarter_date  days_since_call
0     2014-07-01 00:00:00.000000               68
1     2014-10-01 00:00:00.000000               62
2     2015-01-01 00:00:00.000000               61
3     2015-04-01 00:00:00.000000               69
4     2015-07-01 00:00:00.000000               69
...                          ...              ...
4393  2015-07-01 00:00:00.000000               58
4394  2015-10-01 00:00:00.000000               59
4395  2016-01-01 00:00:00.000000               45
4396  2016-04-01 00:00:00.000000               58
4397  2016-07-01 00:00:00.000000               59

[4398 rows x 16 columns]

In [4]:
# Load ~\Box\STAT 222 Capstone\Intermediate Data\Calls\calls.csv
if DEBUG:
    calls = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Calls\calls.csv', nrows = 10)
else:
    calls = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Calls\calls.csv')
# Delete the first column (index)
calls = calls.iloc[:,1:]
# Convert date to be just the date part
calls['date'] = calls['date'].str[:10]
print(calls)

      company       sector  year  quarter        date  \
0        ADNT  automobiles  2017        2  2017-04-28
1        ADNT  automobiles  2017        3  2017-07-27
2        ADNT  automobiles  2017        4  2017-11-05
3        ADNT  automobiles  2018        1  2018-01-29
4        ADNT  automobiles  2018        2  2018-05-03
...       ...          ...   ...      ...         ...
62069     KMX       retail  2022        3  2021-12-22
62070     KMX       retail  2022        4  2022-04-12
62071     KMX       retail  2023        1  2022-06-24
62072     KMX       retail  2023        2  2022-09-29
62073     KSS       retail  2007        3  2007-08-17

                                              transcript
0      Operator: Welcome, and thank you all for stand...
1      Operator: Welcome, and thank for standing by. ...
2      Operator: Welcome, and thank you for standing ...
3      Operator: Welcome, and thank you for joining t...
4      Operator: Welcome, and thank you all for stand...
...                                                  ...
62069  Operator: Ladies and gentlemen, thank you for ...
62070  Operator: Thank you for standing by. Welcome t...
62071  Operator: Good day, and welcome to the CarMax ...
62072  Operator: Good day, and welcome to the CarMax ...
62073  Operator: Good day everyone and welcome to Koh...

[62074 rows x 6 columns]

### Earnings Call Data Merge

In [5]:
# Inner join cr_and_dates (on columns ticker, earnings_call_date) with calls.csv (on columns company, date)
merged = pd.merge(cr_and_dates, calls, left_on=['ticker', 'earnings_call_date'], right_on=['company', 'date'], how='inner')
merged

# Print range of dates
print('date range')
print(merged['date'].min())
print(merged['date'].max())

# Range of year, credit_rating_year
for variable in ['year', 'credit_rating_year']:
    print(variable)
    print(merged[variable].min())
    print(merged[variable].max())

# Print rows where year is greater than 2016
# This is due to inconsistencies in the earnings call data year variable
print('years greater than 2016')
print(merged[merged['year'] > 2016][['earnings_call_date', 'ticker', 'company', 'date', 'year', 'credit_rating_year']])

# Free up memory from calls
del calls

date range
2010-07-31
2016-09-30
year
2010
2019
credit_rating_year
2010
2016
years greater than 2016
     earnings_call_date ticker company        date  year  credit_rating_year
139          2016-08-25   AMCR    AMCR  2016-08-25  2019                2016
244          2016-07-27    ASH     ASH  2016-07-27  2017                2016
318          2016-09-22    AZO     AZO  2016-09-22  2017                2016
323          2015-10-27   BABA    BABA  2015-10-27  2017                2015
324          2016-01-28   BABA    BABA  2016-01-28  2017                2016
...                 ...    ...     ...         ...   ...                 ...
4234         2016-02-11   VSTO    VSTO  2016-02-11  2017                2016
4235         2016-05-12   VSTO    VSTO  2016-05-12  2018                2016
4236         2016-08-11   VSTO    VSTO  2016-08-11  2018                2016
4308         2016-06-30    WOR     WOR  2016-06-30  2017                2014
4309         2016-09-28    WOR     WOR  2016-09-28  2017                2014

[62 rows x 6 columns]

### Financial Statements Data Merge

In [6]:
# Load tabular financial statement data
df = pd.read_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\Tabular_Fin\combined_corrected_tabular_financial_statements_data.parquet')
print(df)

# Perform merge
merged = pd.merge(merged, df, left_on=['company', 'year', 'quarter'], right_on=['symbol', 'calendarYear', 'period'], how='inner')    
print(merged)

             date symbol reportedCurrency      cik fillingDate  \
0      2023-09-30    BEP              USD  1533232  2023-11-03
1      2023-06-30    BEP              USD  1533232  2023-08-04
2      2023-03-31    BEP              USD  1533232  2023-05-05
3      2022-12-31    BEP              USD  1533232  2023-03-01
4      2022-09-30    BEP              USD  1533232  2022-11-04
...           ...    ...              ...      ...         ...
50278  2008-03-31   YORW              USD   108985  2008-05-09
50279  2007-12-31   YORW              USD   108985  2008-03-11
50280  2007-09-30   YORW              USD   108985  2007-11-08
50281  2007-06-30   YORW              USD   108985  2007-08-09
50282  2007-03-31   YORW              USD   108985  2007-05-09

              acceptedDate  calendarYear  period  cashAndCashEquivalents  \
0      2023-11-03 07:20:06          2023       3             781000000.0
1      2023-08-04 06:38:18          2023       2             921000000.0
2      2023-05-05 06:44:00          2023       1             905000000.0
3      2023-02-28 21:58:13          2022       4             998000000.0
4      2022-11-04 06:44:45          2022       3             846000000.0
...                    ...           ...     ...                     ...
50278  2008-05-09 09:34:46          2008       1                     0.0
50279  2008-03-11 10:48:22          2007       4                     0.0
50280  2007-11-08 13:27:13          2007       3                     0.0
50281  2007-08-09 08:38:13          2007       2                     0.0
50282  2007-05-09 09:19:53          2007       1                     0.0

       shortTermInvestments  ...  weightedAverageShsOutDil  \
0               166000000.0  ...               292857143.0
1               173000000.0  ...               280000000.0
2               139000000.0  ...               288888889.0
3               125000000.0  ...               275358750.0
4               146000000.0  ...               275200000.0
...                     ...  ...                       ...
50278                   0.0  ...                10963636.0
50279                   0.0  ...                10963636.0
50280                   0.0  ...                11713333.0
50281                   0.0  ...                11073333.0
50282                   0.0  ...                11050000.0

                                   link_income_statement  \
0      https://www.sec.gov/Archives/edgar/data/153323...
1      https://www.sec.gov/Archives/edgar/data/153323...
2      https://www.sec.gov/Archives/edgar/data/153323...
3      https://www.sec.gov/Archives/edgar/data/153323...
4      https://www.sec.gov/Archives/edgar/data/153323...
...                                                  ...
50278  https://www.sec.gov/Archives/edgar/data/108985...
50279  https://www.sec.gov/Archives/edgar/data/108985...
50280  https://www.sec.gov/Archives/edgar/data/108985...
50281  https://www.sec.gov/Archives/edgar/data/108985...
50282  https://www.sec.gov/Archives/edgar/data/108985...

                              finalLink_income_statement         EBIT  \
0      https://www.sec.gov/Archives/edgar/data/153323...  302000000.0
1      https://www.sec.gov/Archives/edgar/data/153323...  419000000.0
2      https://www.sec.gov/Archives/edgar/data/153323...  462000000.0
3      https://www.sec.gov/Archives/edgar/data/153323...  364000000.0
4      https://www.sec.gov/Archives/edgar/data/153323...  288000000.0
...                                                  ...          ...
50278  https://www.sec.gov/Archives/edgar/data/108985...    3135000.0
50279  https://www.sec.gov/Archives/edgar/data/108985...    3338000.0
50280  https://www.sec.gov/Archives/edgar/data/108985...    3946000.0
50281  https://www.sec.gov/Archives/edgar/data/108985...    3644000.0
50282  https://www.sec.gov/Archives/edgar/data/108985...    3378000.0

         Ratio_A   Ratio_B     Ratio_C   Ratio_D    Ratio_E    Altman_Z
0       0.004606  0.017983    0.000000 -0.014780   0.000000    0.015268
1       0.006358  0.018285    0.000000 -0.005129   0.000000    0.032929
2       0.007130  0.020541    0.000000 -0.020356   0.000000    0.019437
3       0.005680  0.018663    0.000000 -0.021456   0.000000    0.011473
4       0.005018  0.019255    0.000000 -0.016606   0.000000    0.015696
...          ...       ...         ...       ...        ...         ...
50278  14.706365  0.035211  389.037250 -0.023591  50.799116  353.078667
50279  15.822230  0.037001  393.647745 -0.068958  52.074001  361.259488
50280  19.120718  0.040122  403.897604 -0.029607  51.736419  377.872112
50281  17.993907  0.039316  412.128786 -0.015550  50.589345  377.502509
50282  17.078720  0.037338  422.516235 -0.003666  50.093534  380.033029

[50283 rows x 131 columns]
     ticker          fixed_quarter_date earnings_call_date Rating  \
0      ABBV  2014-10-01 00:00:00.000000         2014-07-25      A
1      ABBV  2015-01-01 00:00:00.000000         2014-10-31      A
2      ABBV  2015-04-01 00:00:00.000000         2015-01-30      A
3      ABBV  2015-07-01 00:00:00.000000         2015-04-23      A
4      ABBV  2015-10-01 00:00:00.000000         2015-07-24      A
...     ...                         ...                ...    ...
4359    ZTS  2015-10-01 00:00:00.000000         2015-08-04    BBB
4360    ZTS  2016-01-01 00:00:00.000000         2015-11-03    BBB
4361    ZTS  2016-04-01 00:00:00.000000         2016-02-16    BBB
4362    ZTS  2016-07-01 00:00:00.000000         2016-05-04    BBB
4363    ZTS  2016-10-01 00:00:00.000000         2016-08-03    BBB

                      Rating Agency Name rating_date         Source  \
0     Standard & Poor's Ratings Services  2014-07-18       Original
1     Standard & Poor's Ratings Services  2014-07-18       Original
2     Standard & Poor's Ratings Services  2014-07-18       Original
3     Standard & Poor's Ratings Services  2014-07-18       Original
4     Standard & Poor's Ratings Services  2014-07-18       Original
...                                  ...         ...            ...
4359  Standard & Poor's Ratings Services  2015-01-30           Both
4360  Standard & Poor's Ratings Services  2015-11-03  Supplementary
4361  Standard & Poor's Ratings Services  2016-01-22           Both
4362  Standard & Poor's Ratings Services  2016-01-22           Both
4363  Standard & Poor's Ratings Services  2016-01-22           Both

      Rating Rank AAA is 10 Next Rating Next Rating Date  ...  \
0                         8         NaN              NaN  ...
1                         8         NaN              NaN  ...
2                         8         NaN              NaN  ...
3                         8         NaN              NaN  ...
4                         8         NaN              NaN  ...
...                     ...         ...              ...  ...
4359                      7         BBB       2015-11-03  ...
4360                      7         BBB       2016-01-22  ...
4361                      7         BBB       2016-12-23  ...
4362                      7         BBB       2016-12-23  ...
4363                      7         BBB       2016-12-23  ...

     weightedAverageShsOutDil  \
0                1.608000e+09
1                1.610000e+09
2                1.597000e+09
3                1.608000e+09
4                1.633000e+09
...                       ...
4359             5.006390e+08
4360             4.995390e+08
4361             4.988000e+08
4362             4.979000e+08
4363             4.966380e+08

                                  link_income_statement  \
0     https://www.sec.gov/Archives/edgar/data/155115...
1     https://www.sec.gov/Archives/edgar/data/155115...
2     https://www.sec.gov/Archives/edgar/data/155115...
3     https://www.sec.gov/Archives/edgar/data/155115...
4     https://www.sec.gov/Archives/edgar/data/155115...
...                                                 ...
4359  https://www.sec.gov/Archives/edgar/data/155528...
4360  https://www.sec.gov/Archives/edgar/data/155528...
4361  https://www.sec.gov/Archives/edgar/data/155528...
4362  https://www.sec.gov/Archives/edgar/data/155528...
4363  https://www.sec.gov/Archives/edgar/data/155528...

                             finalLink_income_statement          EBIT  \
0     https://www.sec.gov/Archives/edgar/data/155115...  1.515000e+09
1     https://www.sec.gov/Archives/edgar/data/155115...  1.210000e+09
2     https://www.sec.gov/Archives/edgar/data/155115... -1.932220e+08
3     https://www.sec.gov/Archives/edgar/data/155115...  1.687000e+09
4     https://www.sec.gov/Archives/edgar/data/155115...  1.852000e+09
...                                                 ...           ...
4359  https://www.sec.gov/Archives/edgar/data/155528...  1.470000e+08
4360  https://www.sec.gov/Archives/edgar/data/155528...  3.770000e+08
4361  https://www.sec.gov/Archives/edgar/data/155528...  3.520000e+08
4362  https://www.sec.gov/Archives/edgar/data/155528...  3.780000e+08
4363  https://www.sec.gov/Archives/edgar/data/155528...  2.920000e+08

       Ratio_A   Ratio_B   Ratio_C   Ratio_D   Ratio_E  Altman_Z
0     0.052160  0.169599  0.000672  0.395145  0.079153  0.925424
1     0.042525  0.176390  0.000672  0.383777  0.074893  0.880744
2    -0.007014  0.197916  0.000620  0.170182  0.019421  0.404570
3     0.063186  0.188771  0.000632  0.163227  0.027679  0.630399
4     0.034389  0.101662  0.000352  0.104336  0.023322  0.372192
...        ...       ...       ...       ...       ...       ...
4359  0.018577  0.161001  0.000733  0.258941  0.110704  0.686849
4360  0.050584  0.155910  0.000798  0.287669  0.136321  0.857809
4361  0.046821  0.160681  0.000813  0.304469  0.158287  0.901036
4362  0.048995  0.160855  0.000817  0.301361  0.184446  0.941280
4363  0.038175  0.166950  0.000813  0.297163  0.193097  0.918677

[4364 rows x 153 columns]

### Rating Changes

In [7]:
# Variable for rating on previous fixed_quarter_date
# Sort by ticker, fixed_quarter_date
merged = merged.sort_values(by=['ticker', 'fixed_quarter_date'])
# Shift the rating by 1
merged['rating_on_previous_fixed_quarter_date'] = merged.groupby('ticker')['Rating'].shift(1)
merged[['ticker', 'fixed_quarter_date', 'Rating', 'rating_on_previous_fixed_quarter_date']].head(10)

,ticker,fixed_quarter_date,Rating,rating_on_previous_fixed_quarter_date
0,ABBV,2014-10-01 00:00:00.000000,A,NaN
1,ABBV,2015-01-01 00:00:00.000000,A,A
2,ABBV,2015-04-01 00:00:00.000000,A,A
3,ABBV,2015-07-01 00:00:00.000000,A,A
4,ABBV,2015-10-01 00:00:00.000000,A,A
5,ABBV,2016-01-01 00:00:00.000000,A,A
6,ABBV,2016-04-01 00:00:00.000000,A,A
7,ABBV,2016-07-01 00:00:00.000000,A,A
8,ABBV,2016-10-01 00:00:00.000000,A,A
9,ABC,2011-04-01 00:00:00.000000,A,NaN

In [8]:
# Rating change variables
# Get numeric values for Rating and rating_on_next_earnings_call_date
# Encode Ratings as ordinal
rating_order = ['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'CCC', 'CC', 'C', 'D']
# Reverse
rating_order = rating_order[::-1]
# Create dictionary mapping to number values
rating_dict = {rating: i for i, rating in enumerate(rating_order, 1)}
# Create new column "Rating Rank AAA is 10"
merged['Rating Rank AAA is 10'] = merged['Rating'].map(rating_dict)
# Create new column "rating_on_previous_fixed_quarter_date AAA is 10"
merged['rating_on_previous_fixed_quarter_date AAA is 10'] = merged['rating_on_previous_fixed_quarter_date'].map(rating_dict)

# Cross tab Rating and 'Rating Rank AAA is 10'
print(pd.crosstab(merged['Rating'], merged['Rating Rank AAA is 10']))
# Cross tab rating_on_previous_fixed_quarter_date and 'rating_on_previous_fixed_quarter_date AAA is 10'
print(pd.crosstab(merged['rating_on_previous_fixed_quarter_date'], merged['rating_on_previous_fixed_quarter_date AAA is 10']))

Rating Rank AAA is 10  2   3    4    5     6     7    8    9   10
Rating
A                       0   0    0    0     0     0  896    0   0
AA                      0   0    0    0     0     0    0  215   0
AAA                     0   0    0    0     0     0    0    0  83
B                       0   0    0  514     0     0    0    0   0
BB                      0   0    0    0  1088     0    0    0   0
BBB                     0   0    0    0     0  1403    0    0   0
C                      15   0    0    0     0     0    0    0   0
CC                      0   5    0    0     0     0    0    0   0
CCC                     0   0  145    0     0     0    0    0   0
rating_on_previous_fixed_quarter_date AAA is 10  2.0   3.0   4.0   5.0   6.0   \
rating_on_previous_fixed_quarter_date
A                                                   0     0     0     0     0
AA                                                  0     0     0     0     0
AAA                                                 0     0     0     0     0
B                                                   0     0     0   470     0
BB                                                  0     0     0     0   999
BBB                                                 0     0     0     0     0
C                                                  14     0     0     0     0
CC                                                  0     5     0     0     0
CCC                                                 0     0   135     0     0

rating_on_previous_fixed_quarter_date AAA is 10  7.0   8.0   9.0   10.0
rating_on_previous_fixed_quarter_date
A                                                   0   847     0     0
AA                                                  0     0   196     0
AAA                                                 0     0     0    77
B                                                   0     0     0     0
BB                                                  0     0     0     0
BBB                                              1309     0     0     0
C                                                   0     0     0     0
CC                                                  0     0     0     0
CCC                                                 0     0     0     0

In [9]:
# Variable for change before next call
def change(row):
    if row['Rating Rank AAA is 10'] < row['rating_on_previous_fixed_quarter_date AAA is 10']:
        return 'Downgrade Since Last Fixed Quarter Date'
    elif row['Rating Rank AAA is 10'] > row['rating_on_previous_fixed_quarter_date AAA is 10']:
        return 'Upgrade Since Last Fixed Quarter Date'
    elif row['Rating Rank AAA is 10'] == row['rating_on_previous_fixed_quarter_date AAA is 10']:
        return 'Same As Last Fixed Quarter Date'
    else:
        return None

# Apply function to create new column
merged['Change Direction Since Last Fixed Quarter Date'] = merged.apply(change, axis = 1)

# Also numeric version 'Change Since Last Fixed Quarter Date'
merged['Change Since Last Fixed Quarter Date'] = merged['Rating Rank AAA is 10'] - merged['rating_on_previous_fixed_quarter_date AAA is 10']

# Cross tab 'Change Direction Since Last Fixed Quarter Date' and 'Change Since Last Fixed Quarter Date'
print(pd.crosstab(merged['Change Direction Since Last Fixed Quarter Date'], merged['Change Since Last Fixed Quarter Date']))

Change Since Last Fixed Quarter Date            -2.0  -1.0   0.0   1.0   2.0
Change Direction Since Last Fixed Quarter Date
Downgrade Since Last Fixed Quarter Date           10    92     0     0     0
Same As Last Fixed Quarter Date                    0     0  3817     0     0
Upgrade Since Last Fixed Quarter Date              0     0     0   120    13

### Sector and Other Textual Company Information

From Kaggle: https://www.kaggle.com/datasets/aramacus/usa-public-companies

Supplemented with manually looked up sector data for missing sectors

In [10]:
# Load CSV 'C:\Users\ijyli\Box\STAT 222 Capstone\Intermediate Data\Sectors\combined_sector_data.csv'
combined_sector_data = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Sectors\combined_sector_data.csv')
print(combined_sector_data)

     Ticker                                        Description  \
0      CTVA  Corteva, Inc. is a global provider of seed and...
1      ALCO  Alico, Inc. is an agribusiness and land manage...
2      LMNR  Limoneira Company is primarily an agribusiness...
3      SANW  S&W Seed Company (S&W) is a multi-crop and mid...
4       TRC  Tejon Ranch Co. is a diversified real estate d...
...     ...                                                ...
3384   RELX                                                NaN
3385    TAL                                                NaN
3386   TRTN                                                NaN
3387   VLRS                                                NaN
3388    XIN                                                NaN

        Company Name                  Sector            Industry Group  \
0        CORTEVA INC               Materials                 Materials
1          ALICO INC        Consumer Staples  Food, Beverage & Tobacco
2       LIMONEIRA CO        Consumer Staples  Food, Beverage & Tobacco
3        S&W SEED CO        Consumer Staples  Food, Beverage & Tobacco
4     TEJON RANCH CO             Real Estate               Real Estate
...              ...                     ...                       ...
3384             NaN  Information Technology                       NaN
3385             NaN  Consumer Discretionary                       NaN
3386             NaN             Industrials                       NaN
3387             NaN             Industrials                       NaN
3388             NaN             Real Estate                       NaN

                                  Industry  \
0                                Chemicals
1                            Food Products
2                            Food Products
3                            Food Products
4     Real Estate Management & Development
...                                    ...
3384                                   NaN
3385                                   NaN
3386                                   NaN
3387                                   NaN
3388                                   NaN

                              Sub-Industry  \
0     Fertilizers & Agricultural Chemicals
1                    Agricultural Products
2                    Agricultural Products
3                    Agricultural Products
4      Diversified Real Estate Activities
...                                    ...
3384                                   NaN
3385                                   NaN
3386                                   NaN
3387                                   NaN
3388                                   NaN

                                                Comment
0     Producers of fertilizers, pesticides, potash o...
1     Producers of agricultural products. Includes c...
2     Producers of agricultural products. Includes c...
3     Producers of agricultural products. Includes c...
4     Companies engaged in a diverse spectrum of rea...
...                                                 ...
3384                                                NaN
3385                                                NaN
3386                                                NaN
3387                                                NaN
3388                                                NaN

[3389 rows x 8 columns]

In [11]:
# Left join us_stocks with merged
merged = pd.merge(merged, combined_sector_data, left_on='ticker', right_on='Ticker', how='left')
print(merged)

     ticker          fixed_quarter_date earnings_call_date Rating  \
0      ABBV  2014-10-01 00:00:00.000000         2014-07-25      A
1      ABBV  2015-01-01 00:00:00.000000         2014-10-31      A
2      ABBV  2015-04-01 00:00:00.000000         2015-01-30      A
3      ABBV  2015-07-01 00:00:00.000000         2015-04-23      A
4      ABBV  2015-10-01 00:00:00.000000         2015-07-24      A
...     ...                         ...                ...    ...
4359    ZTS  2015-10-01 00:00:00.000000         2015-08-04    BBB
4360    ZTS  2016-01-01 00:00:00.000000         2015-11-03    BBB
4361    ZTS  2016-04-01 00:00:00.000000         2016-02-16    BBB
4362    ZTS  2016-07-01 00:00:00.000000         2016-05-04    BBB
4363    ZTS  2016-10-01 00:00:00.000000         2016-08-03    BBB

                      Rating Agency Name rating_date         Source  \
0     Standard & Poor's Ratings Services  2014-07-18       Original
1     Standard & Poor's Ratings Services  2014-07-18       Original
2     Standard & Poor's Ratings Services  2014-07-18       Original
3     Standard & Poor's Ratings Services  2014-07-18       Original
4     Standard & Poor's Ratings Services  2014-07-18       Original
...                                  ...         ...            ...
4359  Standard & Poor's Ratings Services  2015-01-30           Both
4360  Standard & Poor's Ratings Services  2015-11-03  Supplementary
4361  Standard & Poor's Ratings Services  2016-01-22           Both
4362  Standard & Poor's Ratings Services  2016-01-22           Both
4363  Standard & Poor's Ratings Services  2016-01-22           Both

      Rating Rank AAA is 10 Next Rating Next Rating Date  ...  \
0                         8         NaN              NaN  ...
1                         8         NaN              NaN  ...
2                         8         NaN              NaN  ...
3                         8         NaN              NaN  ...
4                         8         NaN              NaN  ...
...                     ...         ...              ...  ...
4359                      7         BBB       2015-11-03  ...
4360                      7         BBB       2016-01-22  ...
4361                      7         BBB       2016-12-23  ...
4362                      7         BBB       2016-12-23  ...
4363                      7         BBB       2016-12-23  ...

     Change Direction Since Last Fixed Quarter Date  \
0                                              None
1                   Same As Last Fixed Quarter Date
2                   Same As Last Fixed Quarter Date
3                   Same As Last Fixed Quarter Date
4                   Same As Last Fixed Quarter Date
...                                             ...
4359                Same As Last Fixed Quarter Date
4360                Same As Last Fixed Quarter Date
4361                Same As Last Fixed Quarter Date
4362                Same As Last Fixed Quarter Date
4363                Same As Last Fixed Quarter Date

     Change Since Last Fixed Quarter Date Ticker  \
0                                     NaN   ABBV
1                                     0.0   ABBV
2                                     0.0   ABBV
3                                     0.0   ABBV
4                                     0.0   ABBV
...                                   ...    ...
4359                                  0.0    ZTS
4360                                  0.0    ZTS
4361                                  0.0    ZTS
4362                                  0.0    ZTS
4363                                  0.0    ZTS

                                            Description Company Name  \
0     AbbVie Inc. (AbbVie) is a research-based bioph...   ABBVIE INC
1     AbbVie Inc. (AbbVie) is a research-based bioph...   ABBVIE INC
2     AbbVie Inc. (AbbVie) is a research-based bioph...   ABBVIE INC
3     AbbVie Inc. (AbbVie) is a research-based bioph...   ABBVIE INC
4     AbbVie Inc. (AbbVie) is a research-based bioph...   ABBVIE INC
...                                                 ...          ...
4359  Zoetis Inc. is focused on the discovery, devel...   ZOETIS INC
4360  Zoetis Inc. is focused on the discovery, devel...   ZOETIS INC
4361  Zoetis Inc. is focused on the discovery, devel...   ZOETIS INC
4362  Zoetis Inc. is focused on the discovery, devel...   ZOETIS INC
4363  Zoetis Inc. is focused on the discovery, devel...   ZOETIS INC

           Sector                                  Industry Group  \
0     Health Care  Pharmaceuticals, Biotechnology & Life Sciences
1     Health Care  Pharmaceuticals, Biotechnology & Life Sciences
2     Health Care  Pharmaceuticals, Biotechnology & Life Sciences
3     Health Care  Pharmaceuticals, Biotechnology & Life Sciences
4     Health Care  Pharmaceuticals, Biotechnology & Life Sciences
...           ...                                             ...
4359  Health Care  Pharmaceuticals, Biotechnology & Life Sciences
4360  Health Care  Pharmaceuticals, Biotechnology & Life Sciences
4361  Health Care  Pharmaceuticals, Biotechnology & Life Sciences
4362  Health Care  Pharmaceuticals, Biotechnology & Life Sciences
4363  Health Care  Pharmaceuticals, Biotechnology & Life Sciences

             Industry     Sub-Industry  \
0       Biotechnology    Biotechnology
1       Biotechnology    Biotechnology
2       Biotechnology    Biotechnology
3       Biotechnology    Biotechnology
4       Biotechnology    Biotechnology
...               ...              ...
4359  Pharmaceuticals  Pharmaceuticals
4360  Pharmaceuticals  Pharmaceuticals
4361  Pharmaceuticals  Pharmaceuticals
4362  Pharmaceuticals  Pharmaceuticals
4363  Pharmaceuticals  Pharmaceuticals

                                                Comment
0     Companies primarily engaged in the research, d...
1     Companies primarily engaged in the research, d...
2     Companies primarily engaged in the research, d...
3     Companies primarily engaged in the research, d...
4     Companies primarily engaged in the research, d...
...                                                 ...
4359  Companies engaged in the research, development...
4360  Companies engaged in the research, development...
4361  Companies engaged in the research, development...
4362  Companies engaged in the research, development...
4363  Companies engaged in the research, development...

[4364 rows x 165 columns]

### Some Basic Stats

In [12]:
# Print range of dates
# print('date range')
# print(merged['date'].min())
# print(merged['date'].max())

# Range of year, credit_rating_year, calendarYear
# for variable in ['year', 'credit_rating_year', 'calendarYear']:
#     print(variable)
#     print(merged[variable].min())
#     print(merged[variable].max())

In [13]:
# Summarize columns
print(merged.info())
# print column names
print(merged.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4364 entries, 0 to 4363
Columns: 165 entries, ticker to Comment
dtypes: float64(111), int32(1), int64(9), object(44)
memory usage: 5.5+ MB
None
Index(['ticker', 'fixed_quarter_date', 'earnings_call_date', 'Rating',
       'Rating Agency Name', 'rating_date', 'Source', 'Rating Rank AAA is 10',
       'Next Rating', 'Next Rating Date',
       ...
       'Change Direction Since Last Fixed Quarter Date',
       'Change Since Last Fixed Quarter Date', 'Ticker', 'Description',
       'Company Name', 'Sector', 'Industry Group', 'Industry', 'Sub-Industry',
       'Comment'],
      dtype='object', length=165)

In [14]:
# Save a parquet file as well
merged.to_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\All_Data\all_data_fixed_quarter_dates.parquet', index=False)

In [ ]:
# Sample 100 rows to create all_data_sample.csv
if not DEBUG:
    all_data_sample = merged.sample(100)
    all_data_sample.to_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\All_Data\all_data_fixed_quarter_dates_sample.csv', index=False)
    # also save to xlsx
    all_data_sample.to_excel(r'~\Box\STAT 222 Capstone\Intermediate Data\All_Data\all_data_fixed_quarter_dates_sample.xlsx', index=False)