# Create Combined All Data - Fixed Quarter Dates

In [1]:
# Whether this is a sample/debug run or not
DEBUG = False

In [2]:
# Packages
import pandas as pd
import openpyxl

In [3]:
# Load ~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\credit_ratings_on_fixed_quarter_dates_with_earnings_call_date.csv
cr_and_dates = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Credit_Rating\credit_ratings_on_fixed_quarter_dates_with_earnings_call_date.csv')
print(cr_and_dates)

     ticker          fixed_quarter_date earnings_call_date Rating  \
0      ABBV  2014-10-01 00:00:00.000000         2014-07-25      A
1      ABBV  2015-01-01 00:00:00.000000         2014-10-31      A
2      ABBV  2015-04-01 00:00:00.000000         2015-01-30      A
3      ABBV  2015-07-01 00:00:00.000000         2015-04-23      A
4      ABBV  2015-10-01 00:00:00.000000         2015-07-24      A
...     ...                         ...                ...    ...
4393    ZTS  2015-10-01 00:00:00.000000         2015-08-04    BBB
4394    ZTS  2016-01-01 00:00:00.000000         2015-11-03    BBB
4395    ZTS  2016-04-01 00:00:00.000000         2016-02-16    BBB
4396    ZTS  2016-07-01 00:00:00.000000         2016-05-04    BBB
4397    ZTS  2016-10-01 00:00:00.000000         2016-08-03    BBB

                      Rating Agency Name rating_date         Source  \
0     Standard & Poor's Ratings Services  2014-07-18       Original
1     Standard & Poor's Ratings Services  2014-07-18       Original
2     Standard & Poor's Ratings Services  2014-07-18       Original
3     Standard & Poor's Ratings Services  2014-07-18       Original
4     Standard & Poor's Ratings Services  2014-07-18       Original
...                                  ...         ...            ...
4393  Standard & Poor's Ratings Services  2015-01-30           Both
4394  Standard & Poor's Ratings Services  2015-11-03  Supplementary
4395  Standard & Poor's Ratings Services  2016-01-22           Both
4396  Standard & Poor's Ratings Services  2016-01-22           Both
4397  Standard & Poor's Ratings Services  2016-01-22           Both

      Rating Rank AAA is 10 Next Rating Next Rating Date Previous Rating  \
0                         8         NaN              NaN             NaN
1                         8         NaN              NaN             NaN
2                         8         NaN              NaN             NaN
3                         8         NaN              NaN             NaN
4                         8         NaN              NaN             NaN
...                     ...         ...              ...             ...
4393                      7         BBB       2015-11-03             BBB
4394                      7         BBB       2016-01-22             BBB
4395                      7         BBB       2016-12-23             BBB
4396                      7         BBB       2016-12-23             BBB
4397                      7         BBB       2016-12-23             BBB

     Previous Rating Date next_rating_date_or_end_of_data  credit_rating_year  \
0                     NaN                      2016-12-31                2014
1                     NaN                      2016-12-31                2014
2                     NaN                      2016-12-31                2014
3                     NaN                      2016-12-31                2014
4                     NaN                      2016-12-31                2014
...                   ...                             ...                 ...
4393           2014-01-31                      2015-11-03                2015
4394           2015-01-30                      2016-01-22                2015
4395           2015-11-03                      2016-12-23                2016
4396           2015-11-03                      2016-12-23                2016
4397           2015-11-03                      2016-12-23                2016

     previous_fixed_quarter_date  days_since_call
0     2014-07-01 00:00:00.000000               68
1     2014-10-01 00:00:00.000000               62
2     2015-01-01 00:00:00.000000               61
3     2015-04-01 00:00:00.000000               69
4     2015-07-01 00:00:00.000000               69
...                          ...              ...
4393  2015-07-01 00:00:00.000000               58
4394  2015-10-01 00:00:00.000000               59
4395  2016-01-01 00:00:00.000000               45
4396  2016-04-01 00:00:00.000000               58
4397  2016-07-01 00:00:00.000000               59

[4398 rows x 16 columns]

In [4]:
# Load ~\Box\STAT 222 Capstone\Intermediate Data\Calls\calls.csv
if DEBUG:
    calls = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Calls\calls.csv', nrows = 10)
else:
    calls = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Calls\calls.csv')
# Delete the first column (index)
calls = calls.iloc[:,1:]
# Convert date to be just the date part
calls['date'] = calls['date'].str[:10]
print(calls)

      company       sector  year  quarter        date  \
0        ADNT  automobiles  2017        2  2017-04-28
1        ADNT  automobiles  2017        3  2017-07-27
2        ADNT  automobiles  2017        4  2017-11-05
3        ADNT  automobiles  2018        1  2018-01-29
4        ADNT  automobiles  2018        2  2018-05-03
...       ...          ...   ...      ...         ...
62069     KMX       retail  2022        3  2021-12-22
62070     KMX       retail  2022        4  2022-04-12
62071     KMX       retail  2023        1  2022-06-24
62072     KMX       retail  2023        2  2022-09-29
62073     KSS       retail  2007        3  2007-08-17

                                              transcript
0      Operator: Welcome, and thank you all for stand...
1      Operator: Welcome, and thank for standing by. ...
2      Operator: Welcome, and thank you for standing ...
3      Operator: Welcome, and thank you for joining t...
4      Operator: Welcome, and thank you all for stand...
...                                                  ...
62069  Operator: Ladies and gentlemen, thank you for ...
62070  Operator: Thank you for standing by. Welcome t...
62071  Operator: Good day, and welcome to the CarMax ...
62072  Operator: Good day, and welcome to the CarMax ...
62073  Operator: Good day everyone and welcome to Koh...

[62074 rows x 6 columns]

### Earnings Call Data Merge

In [5]:
# Inner join cr_and_dates (on columns ticker, earnings_call_date) with calls.csv (on columns company, date)
merged = pd.merge(cr_and_dates, calls, left_on=['ticker', 'earnings_call_date'], right_on=['company', 'date'], how='inner')
merged

# Print range of dates
print('date range')
print(merged['date'].min())
print(merged['date'].max())

# Range of year, credit_rating_year
for variable in ['year', 'credit_rating_year']:
    print(variable)
    print(merged[variable].min())
    print(merged[variable].max())

# Print rows where year is greater than 2016
# This is due to inconsistencies in the earnings call data year variable
print('years greater than 2016')
print(merged[merged['year'] > 2016][['earnings_call_date', 'ticker', 'company', 'date', 'year', 'credit_rating_year']])

# Free up memory from calls
del calls

date range
2010-07-31
2016-09-30
year
2010
2019
credit_rating_year
2010
2016
years greater than 2016
     earnings_call_date ticker company        date  year  credit_rating_year
139          2016-08-25   AMCR    AMCR  2016-08-25  2019                2016
244          2016-07-27    ASH     ASH  2016-07-27  2017                2016
318          2016-09-22    AZO     AZO  2016-09-22  2017                2016
323          2015-10-27   BABA    BABA  2015-10-27  2017                2015
324          2016-01-28   BABA    BABA  2016-01-28  2017                2016
...                 ...    ...     ...         ...   ...                 ...
4234         2016-02-11   VSTO    VSTO  2016-02-11  2017                2016
4235         2016-05-12   VSTO    VSTO  2016-05-12  2018                2016
4236         2016-08-11   VSTO    VSTO  2016-08-11  2018                2016
4308         2016-06-30    WOR     WOR  2016-06-30  2017                2014
4309         2016-09-28    WOR     WOR  2016-09-28  2017                2014

[62 rows x 6 columns]

### Financial Statements Data Merge

In [6]:
# Load tabular financial statement data
df = pd.read_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\Tabular_Fin\combined_corrected_tabular_financial_statements_data.parquet')
print(df)

# Perform merge
merged = pd.merge(merged, df, left_on=['company', 'year', 'quarter'], right_on=['symbol', 'calendarYear', 'period'], how='inner')    
print(merged)

             date symbol reportedCurrency     cik fillingDate  \
0      2023-09-30    BCE              CAD  718940  2023-09-30
1      2023-06-30    BCE              CAD  718940  2023-06-30
2      2023-03-31    BCE              CAD  718940  2023-03-31
3      2022-12-31    BCE              CAD  718940  2022-12-31
4      2022-09-30    BCE              CAD  718940  2022-09-30
...           ...    ...              ...     ...         ...
54213  2008-03-31   YORW              USD  108985  2008-05-09
54214  2007-12-31   YORW              USD  108985  2008-03-11
54215  2007-09-30   YORW              USD  108985  2007-11-08
54216  2007-06-30   YORW              USD  108985  2007-08-09
54217  2007-03-31   YORW              USD  108985  2007-05-09

              acceptedDate  calendarYear  period  cashAndCashEquivalents  \
0      2023-09-29 20:00:00          2023       3             619000000.0
1      2023-06-30 00:00:00          2023       2             900000000.0
2      2023-03-31 00:00:00          2023       1             741000000.0
3      2022-12-30 19:00:00          2022       4             149000000.0
4      2022-09-29 20:00:00          2022       3             733000000.0
...                    ...           ...     ...                     ...
54213  2008-05-09 09:34:46          2008       1                     0.0
54214  2008-03-11 10:48:22          2007       4                     0.0
54215  2007-11-08 13:27:13          2007       3                     0.0
54216  2007-08-09 08:38:13          2007       2                     0.0
54217  2007-05-09 09:19:53          2007       1                     0.0

       shortTermInvestments  ...  incomeBeforeTaxRatio  incomeTaxExpense  \
0                       0.0  ...              0.156250       243000000.0
1                       0.0  ...              0.110452       273000000.0
2                       0.0  ...              0.174760       270000000.0
3                       0.0  ...              0.122535       222000000.0
4                       0.0  ...              0.157537       178000000.0
...                     ...  ...                   ...               ...
54213                   0.0  ...              0.247136          649000.0
54214                   0.0  ...              0.329490          902000.0
54215                   0.0  ...              0.348068         1125000.0
54216                   0.0  ...              0.324165          920000.0
54217                   0.0  ...              0.280433          745000.0

       netIncome_income_statement  netIncomeRatio   eps  epsdiluted  \
0                     687000000.0        0.112993  0.70        0.70
1                     375000000.0        0.061820  0.37        0.37
2                     771000000.0        0.127354  0.79        0.79
3                     572000000.0        0.088834  0.58        0.58
4                     715000000.0        0.118692  0.83        0.83
...                           ...             ...   ...         ...
54213                   1206000.0        0.160671  0.11        0.11
54214                   1670000.0        0.213938  0.15        0.15
54215                   1757000.0        0.212198  0.15        0.15
54216                   1661000.0        0.208616  0.15        0.15
54217                   1326000.0        0.179553  0.12        0.12

       weightedAverageShsOut  weightedAverageShsOutDil  \
0                912300000.0               912300000.0
1                912200000.0               912500000.0
2                912100000.0               912300000.0
3                912000000.0               912200000.0
4                911900000.0               912300000.0
...                      ...                       ...
54213             10963636.0                10963636.0
54214             10963636.0                10963636.0
54215             11713333.0                11713333.0
54216             11073333.0                11073333.0
54217             11050000.0                11050000.0

                                   link_income_statement  \
0                                                   None
1                                                   None
2                                                   None
3                                                   None
4                                                   None
...                                                  ...
54213  https://www.sec.gov/Archives/edgar/data/108985...
54214  https://www.sec.gov/Archives/edgar/data/108985...
54215  https://www.sec.gov/Archives/edgar/data/108985...
54216  https://www.sec.gov/Archives/edgar/data/108985...
54217  https://www.sec.gov/Archives/edgar/data/108985...

                              finalLink_income_statement
0                                                   None
1                                                   None
2                                                   None
3                                                   None
4                                                   None
...                                                  ...
54213  https://www.sec.gov/Archives/edgar/data/108985...
54214  https://www.sec.gov/Archives/edgar/data/108985...
54215  https://www.sec.gov/Archives/edgar/data/108985...
54216  https://www.sec.gov/Archives/edgar/data/108985...
54217  https://www.sec.gov/Archives/edgar/data/108985...

[54218 rows x 126 columns]
     ticker          fixed_quarter_date earnings_call_date Rating  \
0      ABBV  2014-10-01 00:00:00.000000         2014-07-25      A
1      ABBV  2015-01-01 00:00:00.000000         2014-10-31      A
2      ABBV  2015-04-01 00:00:00.000000         2015-01-30      A
3      ABBV  2015-07-01 00:00:00.000000         2015-04-23      A
4      ABBV  2015-10-01 00:00:00.000000         2015-07-24      A
...     ...                         ...                ...    ...
4367    ZTS  2015-10-01 00:00:00.000000         2015-08-04    BBB
4368    ZTS  2016-01-01 00:00:00.000000         2015-11-03    BBB
4369    ZTS  2016-04-01 00:00:00.000000         2016-02-16    BBB
4370    ZTS  2016-07-01 00:00:00.000000         2016-05-04    BBB
4371    ZTS  2016-10-01 00:00:00.000000         2016-08-03    BBB

                      Rating Agency Name rating_date         Source  \
0     Standard & Poor's Ratings Services  2014-07-18       Original
1     Standard & Poor's Ratings Services  2014-07-18       Original
2     Standard & Poor's Ratings Services  2014-07-18       Original
3     Standard & Poor's Ratings Services  2014-07-18       Original
4     Standard & Poor's Ratings Services  2014-07-18       Original
...                                  ...         ...            ...
4367  Standard & Poor's Ratings Services  2015-01-30           Both
4368  Standard & Poor's Ratings Services  2015-11-03  Supplementary
4369  Standard & Poor's Ratings Services  2016-01-22           Both
4370  Standard & Poor's Ratings Services  2016-01-22           Both
4371  Standard & Poor's Ratings Services  2016-01-22           Both

      Rating Rank AAA is 10 Next Rating Next Rating Date  ...  \
0                         8         NaN              NaN  ...
1                         8         NaN              NaN  ...
2                         8         NaN              NaN  ...
3                         8         NaN              NaN  ...
4                         8         NaN              NaN  ...
...                     ...         ...              ...  ...
4367                      7         BBB       2015-11-03  ...
4368                      7         BBB       2016-01-22  ...
4369                      7         BBB       2016-12-23  ...
4370                      7         BBB       2016-12-23  ...
4371                      7         BBB       2016-12-23  ...

     incomeBeforeTaxRatio incomeTaxExpense netIncome_income_statement  \
0                0.290905      335000000.0               1.098000e+09
1                0.136880      181000000.0               5.060000e+08
2               -0.190205        -227000.0              -8.100000e+05
3                0.276984      374000000.0               1.022000e+09
4                0.306484      312000000.0               1.366000e+09
...                   ...              ...                        ...
4367             0.054160       49000000.0               2.200000e+07
4368             0.285714      128000000.0               2.040000e+08
4369             0.274834      108000000.0               2.240000e+08
4370             0.268332       96000000.0               2.390000e+08
4371             0.180893       77000000.0               1.540000e+08

      netIncomeRatio   eps  epsdiluted weightedAverageShsOut  \
0           0.222899  0.69        0.68          1.594000e+09
1           0.100817  0.32        0.31          1.595000e+09
2          -0.148569 -0.51       -0.51          1.591389e+09
3           0.202778  0.64        0.63          1.595000e+09
4           0.249498  0.84        0.83          1.620000e+09
...              ...   ...         ...                   ...
4367        0.017268  0.04        0.04          4.982710e+08
4368        0.175559  0.41        0.41          4.973990e+08
4369        0.185430  0.45        0.45          4.963000e+08
4370        0.192587  0.48        0.48          4.952000e+08
4371        0.120595  0.31        0.31          4.939320e+08

     weightedAverageShsOutDil  \
0                1.608000e+09
1                1.610000e+09
2                1.597000e+09
3                1.608000e+09
4                1.633000e+09
...                       ...
4367             5.006390e+08
4368             4.995390e+08
4369             4.988000e+08
4370             4.979000e+08
4371             4.966380e+08

                                  link_income_statement  \
0     https://www.sec.gov/Archives/edgar/data/155115...
1     https://www.sec.gov/Archives/edgar/data/155115...
2     https://www.sec.gov/Archives/edgar/data/155115...
3     https://www.sec.gov/Archives/edgar/data/155115...
4     https://www.sec.gov/Archives/edgar/data/155115...
...                                                 ...
4367  https://www.sec.gov/Archives/edgar/data/155528...
4368  https://www.sec.gov/Archives/edgar/data/155528...
4369  https://www.sec.gov/Archives/edgar/data/155528...
4370  https://www.sec.gov/Archives/edgar/data/155528...
4371  https://www.sec.gov/Archives/edgar/data/155528...

                             finalLink_income_statement
0     https://www.sec.gov/Archives/edgar/data/155115...
1     https://www.sec.gov/Archives/edgar/data/155115...
2     https://www.sec.gov/Archives/edgar/data/155115...
3     https://www.sec.gov/Archives/edgar/data/155115...
4     https://www.sec.gov/Archives/edgar/data/155115...
...                                                 ...
4367  https://www.sec.gov/Archives/edgar/data/155528...
4368  https://www.sec.gov/Archives/edgar/data/155528...
4369  https://www.sec.gov/Archives/edgar/data/155528...
4370  https://www.sec.gov/Archives/edgar/data/155528...
4371  https://www.sec.gov/Archives/edgar/data/155528...

[4372 rows x 148 columns]

### Rating Changes

In [7]:
# Variable for rating on previous fixed_quarter_date
# Sort by ticker, fixed_quarter_date
merged = merged.sort_values(by=['ticker', 'fixed_quarter_date'])
# Shift the rating by 1
merged['rating_on_previous_fixed_quarter_date'] = merged.groupby('ticker')['Rating'].shift(1)
merged[['ticker', 'fixed_quarter_date', 'Rating', 'rating_on_previous_fixed_quarter_date']].head(10)

,ticker,fixed_quarter_date,Rating,rating_on_previous_fixed_quarter_date
0,ABBV,2014-10-01 00:00:00.000000,A,NaN
1,ABBV,2015-01-01 00:00:00.000000,A,A
2,ABBV,2015-04-01 00:00:00.000000,A,A
3,ABBV,2015-07-01 00:00:00.000000,A,A
4,ABBV,2015-10-01 00:00:00.000000,A,A
5,ABBV,2016-01-01 00:00:00.000000,A,A
6,ABBV,2016-04-01 00:00:00.000000,A,A
7,ABBV,2016-07-01 00:00:00.000000,A,A
8,ABBV,2016-10-01 00:00:00.000000,A,A
9,ABC,2011-04-01 00:00:00.000000,A,NaN

In [8]:
# Rating change variables
# Get numeric values for Rating and rating_on_next_earnings_call_date
# Encode Ratings as ordinal
rating_order = ['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'CCC', 'CC', 'C', 'D']
# Reverse
rating_order = rating_order[::-1]
# Create dictionary mapping to number values
rating_dict = {rating: i for i, rating in enumerate(rating_order, 1)}
# Create new column "Rating Rank AAA is 10"
merged['Rating Rank AAA is 10'] = merged['Rating'].map(rating_dict)
# Create new column "rating_on_previous_fixed_quarter_date AAA is 10"
merged['rating_on_previous_fixed_quarter_date AAA is 10'] = merged['rating_on_previous_fixed_quarter_date'].map(rating_dict)

# Cross tab Rating and 'Rating Rank AAA is 10'
print(pd.crosstab(merged['Rating'], merged['Rating Rank AAA is 10']))
# Cross tab rating_on_previous_fixed_quarter_date and 'rating_on_previous_fixed_quarter_date AAA is 10'
print(pd.crosstab(merged['rating_on_previous_fixed_quarter_date'], merged['rating_on_previous_fixed_quarter_date AAA is 10']))

Rating Rank AAA is 10  2   3    4    5     6     7    8    9   10
Rating
A                       0   0    0    0     0     0  904    0   0
AA                      0   0    0    0     0     0    0  215   0
AAA                     0   0    0    0     0     0    0    0  83
B                       0   0    0  514     0     0    0    0   0
BB                      0   0    0    0  1088     0    0    0   0
BBB                     0   0    0    0     0  1403    0    0   0
C                      15   0    0    0     0     0    0    0   0
CC                      0   5    0    0     0     0    0    0   0
CCC                     0   0  145    0     0     0    0    0   0
rating_on_previous_fixed_quarter_date AAA is 10  2.0   3.0   4.0   5.0   6.0   \
rating_on_previous_fixed_quarter_date
A                                                   0     0     0     0     0
AA                                                  0     0     0     0     0
AAA                                                 0     0     0     0     0
B                                                   0     0     0   470     0
BB                                                  0     0     0     0   999
BBB                                                 0     0     0     0     0
C                                                  14     0     0     0     0
CC                                                  0     5     0     0     0
CCC                                                 0     0   135     0     0

rating_on_previous_fixed_quarter_date AAA is 10  7.0   8.0   9.0   10.0
rating_on_previous_fixed_quarter_date
A                                                   0   854     0     0
AA                                                  0     0   196     0
AAA                                                 0     0     0    77
B                                                   0     0     0     0
BB                                                  0     0     0     0
BBB                                              1309     0     0     0
C                                                   0     0     0     0
CC                                                  0     0     0     0
CCC                                                 0     0     0     0

In [9]:
# Variable for change before next call
def change(row):
    if row['Rating Rank AAA is 10'] < row['rating_on_previous_fixed_quarter_date AAA is 10']:
        return 'Downgrade Since Last Fixed Quarter Date'
    elif row['Rating Rank AAA is 10'] > row['rating_on_previous_fixed_quarter_date AAA is 10']:
        return 'Upgrade Since Last Fixed Quarter Date'
    elif row['Rating Rank AAA is 10'] == row['rating_on_previous_fixed_quarter_date AAA is 10']:
        return 'Same As Last Fixed Quarter Date'
    else:
        return None

# Apply function to create new column
merged['Change Direction Since Last Fixed Quarter Date'] = merged.apply(change, axis = 1)

# Also numeric version 'Change Since Last Fixed Quarter Date'
merged['Change Since Last Fixed Quarter Date'] = merged['Rating Rank AAA is 10'] - merged['rating_on_previous_fixed_quarter_date AAA is 10']

# Cross tab 'Change Direction Since Last Fixed Quarter Date' and 'Change Since Last Fixed Quarter Date'
print(pd.crosstab(merged['Change Direction Since Last Fixed Quarter Date'], merged['Change Since Last Fixed Quarter Date']))

Change Since Last Fixed Quarter Date            -2.0  -1.0   0.0   1.0   2.0
Change Direction Since Last Fixed Quarter Date
Downgrade Since Last Fixed Quarter Date           10    92     0     0     0
Same As Last Fixed Quarter Date                    0     0  3824     0     0
Upgrade Since Last Fixed Quarter Date              0     0     0   120    13

### Some Basic Stats

In [11]:
# Print range of dates
# print('date range')
# print(merged['date'].min())
# print(merged['date'].max())

# Range of year, credit_rating_year, calendarYear
# for variable in ['year', 'credit_rating_year', 'calendarYear']:
#     print(variable)
#     print(merged[variable].min())
#     print(merged[variable].max())

In [12]:
# Summarize columns
print(merged.info())
# print column names
print(merged.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4372 entries, 0 to 4371
Columns: 152 entries, ticker to Change Since Last Fixed Quarter Date
dtypes: float64(104), int32(1), int64(9), object(38)
memory usage: 5.1+ MB
None
Index(['ticker', 'fixed_quarter_date', 'earnings_call_date', 'Rating',
       'Rating Agency Name', 'rating_date', 'Source', 'Rating Rank AAA is 10',
       'Next Rating', 'Next Rating Date',
       ...
       'eps', 'epsdiluted', 'weightedAverageShsOut',
       'weightedAverageShsOutDil', 'link_income_statement',
       'finalLink_income_statement', 'rating_on_previous_fixed_quarter_date',
       'rating_on_previous_fixed_quarter_date AAA is 10',
       'Change Direction Since Last Fixed Quarter Date',
       'Change Since Last Fixed Quarter Date'],
      dtype='object', length=152)

In [13]:
# Save a parquet file as well
merged.to_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\All_Data\all_data_fixed_quarter_dates.parquet', index=False)

In [ ]:
# Sample 100 rows to create all_data_sample.csv
if not DEBUG:
    all_data_sample = merged.sample(100)
    all_data_sample.to_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\All_Data\all_data_fixed_quarter_dates_sample.csv', index=False)
    # also save to xlsx
    all_data_sample.to_excel(r'~\Box\STAT 222 Capstone\Intermediate Data\All_Data\all_data_fixed_quarter_dates_sample.xlsx', index=False)