# Investigate All Entities for A Few Companies

In [7]:
# Packages
import pandas as pd

In [8]:
# Load file '../../../Data/Company_Mentions/Company_Mentions.parquet'
df = pd.read_parquet('../../../Data/Company_Mentions/Company_Mentions.parquet')
df

   ticker fixed_quarter_date    company_mentioned  count
0     NEE         2012-01-01                  FPL     26
1     NEE         2012-01-01     ENERGY RESOURCES     25
2     NEE         2012-01-01                 CITC     14
3     NEE         2012-01-01      DESERT SUNLIGHT     10
4     NEE         2012-01-01    ENERGY RESOURCES'      9
..    ...                ...                  ...    ...
22     KW         2014-04-01               SIDOTI      1
23     KW         2014-04-01      BANCO POPULAR’S      1
24     KW         2014-04-01  WALL STREET JOURNAL      1
25     KW         2014-04-01  THE BANK OF IRELAND      1
26     KW         2014-04-01        MERRILL LYNCH      1

[267115 rows x 4 columns]

In [9]:
# Value counts for companies
df['ticker'].value_counts()

ticker
JNJ     1728
DHR     1706
NWL     1678
CAH     1592
LLY     1590
        ...
OEC       20
CBB       19
TIF       11
XIN       10
BBBY      10
Name: count, Length: 503, dtype: int64

In [10]:
# Output all items where ticker is 'JNJ', 'DHR', 'AAPL'
# Save to Excel
df.loc[df['ticker'].isin(['JNJ', 'DHR', 'AAPL'])].to_excel('../../../Data/Company_Mentions/Company_Mentions_for_JNJ_DHR_AAPL.xlsx', index=False)