In [1]:
import pandas as pd

In [2]:
cc = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Calls\combined_calls.csv')
dropout_call = pd.read_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Calls\dropout_calls.csv')

In [6]:
dropout_call

,symbol,quarter,year,earnings_call_date,content,earnings_call_datetime,source,web
0,CAG,1,2017,2016-09-29,"Operator: Good morning, and welcome to today's...",2016-09-29,web,True
1,USM,1,2016,2016-05-06,"Operator\nGreetings, and welcome to the TDS an...",2016-05-06,web,True
2,USM,2,2016,2016-08-05,"Operator\nGreetings, and welcome to the TDS an...",2016-08-05,web,True
3,WFRD,3,2015,2015-10-22,"Operator\nGood morning. My name is Lori, and ...",2015-10-22,web,True
4,WFRD,4,2015,2016-02-04,"Operator\nGood morning, my name is Laurie and ...",2016-02-04,web,True
5,WFRD,1,2016,2016-05-05,"Operator\nGood morning. My name is Laurie, and...",2016-05-05,web,True
6,WFRD,2,2016,2016-07-28,Operator\nGood morning. My name is Kim and I'l...,2016-07-28,web,True

In [4]:
cc.shape

(18462, 8)

In [7]:
call_with_dropout = pd.concat([cc, dropout_call], axis = 0)
call_with_dropout.shape

(18469, 8)

In [8]:
call_with_dropout.to_csv(r'~\Box\STAT 222 Capstone\Intermediate Data\Calls\combined_calls.csv', index = False)