# Market Cap EDA

In [1]:
# Packages
import pandas as pd

## Original Market Cap Data

In [2]:
# Read in the data
# C:\Users\ijyli\Box\STAT 222 Capstone\Raw Data\Market Cap Data\market_cap_data.parquet
market_cap_data = pd.read_parquet('~/Box/STAT 222 Capstone/Raw Data/Market Cap Data/market_cap_data.parquet')
market_cap_data

        symbol        date     marketCap
0           AA  2013-12-31  4.640618e+09
1           AA  2013-12-30  4.597010e+09
2           AA  2013-12-27  4.667873e+09
3           AA  2013-12-26  4.553402e+09
4           AA  2013-12-24  4.524330e+09
...        ...         ...           ...
1282801    ZTS  2014-01-08  1.587733e+10
1282802    ZTS  2014-01-07  1.605742e+10
1282803    ZTS  2014-01-06  1.599739e+10
1282804    ZTS  2014-01-03  1.603240e+10
1282805    ZTS  2014-01-02  1.618748e+10

[1282806 rows x 3 columns]

In [3]:
# Number of companies
num_companies = len(market_cap_data['symbol'].unique())
print('Number of companies: ', num_companies)

Number of companies:  779

In [5]:
# Check for NaN
nan_check = market_cap_data.isna().sum()
print('NaN check: ', nan_check)

NaN check:  symbol       0
date         0
marketCap    0
dtype: int64