# Tabular Financial Statements Data EDA

In [9]:
# Packages
import pandas as pd
import numpy as np

In [10]:
# Load data
tf = pd.read_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\Tabular_Fin\combined_corrected_tabular_financial_statements_data.parquet')

### Comparing Variables to the Graph NN Paper

In [11]:
# Briefly summarize ratio variables and Altman Z-Score to check construction
# use describe method, transpose, and print all rows
# round to two decimal places, no scientific notation, commas for thousands
pd.options.display.float_format = '{:,.2f}'.format
sum_stats_ratios = tf[['Ratio_A', 'Ratio_B', 'Ratio_C', 'Ratio_D', 'Ratio_E', 'Altman_Z']].describe().T
sum_stats_ratios

             count  mean  std   min  25%  50%  75%  max
Ratio_A  47,917.00  0.02 0.02 -0.02 0.01 0.02 0.03 0.08
Ratio_B  47,917.00  0.21 0.15  0.04 0.10 0.18 0.28 0.70
Ratio_C  49,184.00  0.06 0.18  0.00 0.00 0.00 0.03 0.92
Ratio_D  48,493.00  0.13 0.16 -0.13 0.01 0.10 0.22 0.57
Ratio_E  49,033.00  0.18 0.33 -0.74 0.00 0.16 0.37 1.01
Altman_Z 47,412.00  0.72 0.60 -1.23 0.30 0.67 1.11 3.26

In [12]:
# Checking normalized average fianncial value to compare to the graph NN paper's table A.1
# Empty dataframe to store item, count, and percent_of_total_assets
table_a1_replication = pd.DataFrame(columns=['Item', 'Count', 'Percent_of_Total_Assets'])
# Compute average values of: totalAssets, currentLiabilities, totalLiabilities, totalEquity, retainedEarnings, currentAssets, netSales (revenue stand-in), EBIT (ebitda minus depreciation, etc),  market value of equity (commonStock + preferredStock stand-in), workingCapital, and Altman_Z
# Mean of total assets, removing missing and infinite values
total_assets_mean = tf['totalAssets'].replace([np.inf, -np.inf], np.nan).dropna().mean()
# Loop over each variable
# Drop missing or infinite values
# Compute count and mean
for variable in ['totalAssets', 'totalCurrentLiabilities', 'totalLiabilities', 'totalEquity', 'retainedEarnings', 'totalCurrentAssets', 'revenue', 'EBIT', 'common_plus_preferred_stock', 'workingCapital']:
    var_count = tf[variable].replace([np.inf, -np.inf], np.nan).dropna().count()
    var_mean = tf[variable].replace([np.inf, -np.inf], np.nan).dropna().mean()
    table_a1_replication = pd.concat([table_a1_replication, pd.DataFrame({'Item': variable, 'Count': var_count, 'Percent_of_Total_Assets': 100*var_mean/total_assets_mean}, index=[0])])

table_a1_replication

C:\Users\ijyli\AppData\Local\Temp\ipykernel_11284\2386111148.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table_a1_replication = pd.concat([table_a1_replication, pd.DataFrame({'Item': variable, 'Count': var_count, 'Percent_of_Total_Assets': 100*var_mean/total_assets_mean}, index=[0])])

                          Item  Count  Percent_of_Total_Assets
0                  totalAssets  49033                   100.00
0      totalCurrentLiabilities  49184                    18.95
0             totalLiabilities  49184                    63.89
0                  totalEquity  50283                    32.47
0             retainedEarnings  50283                    20.83
0           totalCurrentAssets  49033                    26.77
0                      revenue  49060                    17.13
0                         EBIT  49060                     1.94
0  common_plus_preferred_stock  50283                     2.24
0               workingCapital  48493                     7.87