# Tabular Financial Statements Data EDA

In [19]:
# Packages
import pandas as pd
import numpy as np

In [20]:
# Load data
tf = pd.read_parquet(r'~\Box\STAT 222 Capstone\Intermediate Data\Tabular_Fin\combined_corrected_tabular_financial_statements_data.parquet')

### Comparing Variables to the Graph NN Paper

In [21]:
# Briefly summarize ratio variables and Altman Z-Score to check construction
# use describe method, transpose, and print all rows
# round to two decimal places, no scientific notation, commas for thousands
pd.options.display.float_format = '{:,.2f}'.format
sum_stats_ratios = tf[['Ratio_A', 'Ratio_B', 'Ratio_C', 'Ratio_D', 'Ratio_E', 'Altman_Z']].describe().T
sum_stats_ratios

             count     mean        std        min  25%  50%  75%           max
Ratio_A  50,264.00    93.38  15,380.42  -2,882.66 0.01 0.02 0.03  3,151,375.00
Ratio_B  50,264.00 1,105.62 139,883.86      -0.15 0.10 0.17 0.28 19,550,375.00
Ratio_C  50,261.00     6.64     436.30  -5,625.94 0.00 0.00 0.03     58,209.14
Ratio_D  50,264.00     5.09     235.49  -9,499.87 0.01 0.10 0.23     49,733.23
Ratio_E  50,264.00     7.00   3,266.23  -7,373.99 0.00 0.16 0.37    692,819.58
Altman_Z 50,259.00   388.88  74,883.80 -11,622.42 0.30 0.69 1.16 16,702,175.60

In [22]:
# Checking normalized average fianncial value to compare to the paper's table A.1
# Empty dataframe to store item, count, and percent_of_total_assets
table_a1_replication = pd.DataFrame(columns=['Item', 'Count', 'Percent_of_Total_Assets'])
# Compute average values of: totalAssets, currentLiabilities, totalLiabilities, totalEquity, retainedEarnings, currentAssets, netSales (revenue stand-in), EBIT (ebitda minus depreciation, etc),  market value of equity (commonStock + preferredStock stand-in), workingCapital, and Altman_Z
# Mean of total assets, removing missing and infinite values
total_assets_mean = tf['totalAssets'].replace([np.inf, -np.inf], np.nan).dropna().mean()
# Loop over each variable
# Drop missing or infinite values
# Compute count and mean
for variable in ['totalAssets', 'totalCurrentLiabilities', 'totalLiabilities', 'totalEquity', 'retainedEarnings', 'totalCurrentAssets', 'revenue', 'EBIT', 'common_plus_preferred_stock', 'workingCapital', 'Altman_Z']:
    var_count = tf[variable].replace([np.inf, -np.inf], np.nan).dropna().count()
    var_mean = tf[variable].replace([np.inf, -np.inf], np.nan).dropna().mean()
    table_a1_replication = pd.concat([table_a1_replication, pd.DataFrame({'Item': variable, 'Count': var_count, 'Percent_of_Total_Assets': 100*var_mean/total_assets_mean}, index=[0])])

table_a1_replication

C:\Users\ijyli\AppData\Local\Temp\ipykernel_16928\2473512405.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  table_a1_replication = pd.concat([table_a1_replication, pd.DataFrame({'Item': variable, 'Count': var_count, 'Percent_of_Total_Assets': 100*var_mean/total_assets_mean}, index=[0])])

                          Item  Count  Percent_of_Total_Assets
0                  totalAssets  50283                   100.00
0      totalCurrentLiabilities  50283                    20.23
0             totalLiabilities  50283                    64.12
0                  totalEquity  50283                    33.29
0             retainedEarnings  50283                    21.36
0           totalCurrentAssets  50283                    28.46
0                      revenue  50283                    17.16
0                         EBIT  50283                     2.09
0  common_plus_preferred_stock  50283                     2.30
0               workingCapital  50283                     8.23
0                     Altman_Z  50259                     0.00