# Combine Credit Rating Data

Original data source: https://www.kaggle.com/datasets/agewerc/corporate-credit-rating 

Supplementary data source: https://www.kaggle.com/datasets/kirtandelwadia/corporate-credit-rating-with-financial-ratios

In [1]:
# Packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load original data into pandas
# ~\..\Box\STAT 222 Capstone\Raw Data\Credit Rating Data From Kaggle\corporate_rating.csv
corporate_rating = pd.read_csv('~\Box\STAT 222 Capstone\Raw Data\Credit Rating Data From Kaggle\corporate_rating.csv')
corporate_rating

<>:3: SyntaxWarning: invalid escape sequence '\B'
<>:3: SyntaxWarning: invalid escape sequence '\B'
C:\Users\ijyli\AppData\Local\Temp\ipykernel_15704\1870754754.py:3: SyntaxWarning: invalid escape sequence '\B'
  corporate_rating = pd.read_csv('~\Box\STAT 222 Capstone\Raw Data\Credit Rating Data From Kaggle\corporate_rating.csv')

,Rating,Name,Symbol,Rating Agency Name,Date,Sector,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,...,effectiveTaxRate,freeCashFlowOperatingCashFlowRatio,freeCashFlowPerShare,cashPerShare,companyEquityMultiplier,ebitPerRevenue,enterpriseValueMultiple,operatingCashFlowPerShare,operatingCashFlowSalesRatio,payablesTurnover
0,A,Whirlpool Corporation,WHR,Egan-Jones Ratings Company,11/27/2015,Consumer Durables,0.945894,0.426395,0.099690,44.203245,...,0.202716,0.437551,6.810673,9.809403,4.008012,0.049351,7.057088,15.565438,0.058638,3.906655
1,BBB,Whirlpool Corporation,WHR,Egan-Jones Ratings Company,2/13/2014,Consumer Durables,1.033559,0.498234,0.203120,38.991156,...,0.074155,0.541997,8.625473,17.402270,3.156783,0.048857,6.460618,15.914250,0.067239,4.002846
2,BBB,Whirlpool Corporation,WHR,Fitch Ratings,3/6/2015,Consumer Durables,0.963703,0.451505,0.122099,50.841385,...,0.214529,0.513185,9.693487,13.103448,4.094575,0.044334,10.491970,18.888889,0.074426,3.483510
3,BBB,Whirlpool Corporation,WHR,Fitch Ratings,6/15/2012,Consumer Durables,1.019851,0.510402,0.176116,41.161738,...,1.816667,-0.147170,-1.015625,14.440104,3.630950,-0.012858,4.080741,6.901042,0.028394,4.581150
4,BBB,Whirlpool Corporation,WHR,Standard & Poor's Ratings Services,10/24/2016,Consumer Durables,0.957844,0.495432,0.141608,47.761126,...,0.166966,0.451372,7.135348,14.257556,4.012780,0.053770,8.293505,15.808147,0.058065,3.857790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024,BBB,"NVR, Inc.",NVR,Moody's Investors Service,9/5/2012,Capital Goods,11.757767,7.115059,7.057420,1.079762,...,0.343500,0.953231,50.293155,230.194971,1.759461,0.086376,15.867701,52.760726,0.083018,15.758348
2025,BB,Kaiser Aluminum Corporation,KALU,Standard & Poor's Ratings Services,4/28/2016,Capital Goods,2.962788,1.294743,0.428234,30.602414,...,0.363636,0.602645,5.563630,5.958956,1.614282,-0.267117,-4.729967,9.232021,0.114089,14.542373
2026,B,Cresud S.A.C.I.F. y A.,CRESY,Fitch Ratings,11/30/2012,Finance,0.883875,0.842553,0.233830,147.599371,...,35.017544,0.926665,1.459801,1.056480,4.034952,0.265092,9.358311,1.575328,0.283634,2.300168
2027,B,Cresud S.A.C.I.F. y A.,CRESY,Fitch Ratings,6/15/2012,Finance,0.911713,0.748356,0.310640,131.644566,...,0.331525,0.692804,0.744377,1.470201,3.825856,0.130692,22.440102,1.074441,0.217783,1.997608
2028,CCC,Cresud S.A.C.I.F. y A.,CRESY,Fitch Ratings,8/1/2014,Finance,1.085007,1.026375,0.203490,151.660513,...,0.266987,1.101462,2.487817,6.109814,3.939161,0.302997,9.604061,2.258650,0.252606,1.865682

In [3]:
# Load supplementary data
# C:\Users\ijyli\Box\STAT 222 Capstone\Raw Data\Supplementary Credit Rating Data From Kaggle\corporateCreditRatingWithFinancialRatios.csv
supplementary_data = pd.read_csv('~\Box\STAT 222 Capstone\Raw Data\Supplementary Credit Rating Data From Kaggle\corporateCreditRatingWithFinancialRatios.csv')
supplementary_data

<>:3: SyntaxWarning: invalid escape sequence '\B'
<>:3: SyntaxWarning: invalid escape sequence '\B'
C:\Users\ijyli\AppData\Local\Temp\ipykernel_15704\1998800122.py:3: SyntaxWarning: invalid escape sequence '\B'
  supplementary_data = pd.read_csv('~\Box\STAT 222 Capstone\Raw Data\Supplementary Credit Rating Data From Kaggle\corporateCreditRatingWithFinancialRatios.csv')

,Rating Agency,Corporation,Rating,Rating Date,CIK,Binary Rating,SIC Code,Sector,Ticker,Current Ratio,...,EBITDA Margin,Pre-Tax Profit Margin,Net Profit Margin,Asset Turnover,ROE - Return On Equity,Return On Tangible Equity,ROA - Return On Assets,ROI - Return On Investment,Operating Cash Flow Per Share,Free Cash Flow Per Share
0,Standard & Poor's Ratings Services,American States Water Co.,A-,2010-07-30,1056903,1,4941.0,Utils,AWR,1.1507,...,28.9834,13.6093,8.3224,0.3173,8.1724,8.1978,2.6385,4.4530,1.9957,-0.1333
1,Standard & Poor's Ratings Services,Automatic Data Processing Inc.,AAA,2010-09-16,8670,1,7374.0,BusEq,ADP,1.1129,...,23.9379,20.8699,13.5690,0.3324,22.0354,47.2858,4.4944,21.8765,0.2501,0.3132
2,Standard & Poor's Ratings Services,Avnet Inc.,BBB-,2010-11-23,8858,1,5065.0,Shops,AVT,1.9276,...,3.6338,3.0536,2.1418,2.4620,13.6376,16.7991,5.2731,9.6494,-7.6079,-7.3231
3,Standard & Poor's Ratings Services,California Water Service Co.,AA-,2010-06-29,1035201,1,4941.0,Utils,CWT,0.8358,...,27.9377,15.1135,9.0246,0.2946,9.6412,9.7015,2.6583,5.1018,1.7438,-0.8999
4,Standard & Poor's Ratings Services,Cardinal Health Inc.,A,2010-07-14,721371,1,5122.0,Shops,CAH,1.2931,...,1.5847,1.2304,0.6518,4.9276,11.1256,19.4184,2.9364,8.1844,1.9725,2.4174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,Moody's Investors Service,"eBay, Inc.",BBB+,2016-02-22,1065088,1,7370.0,BusEq,EBAY,3.4927,...,33.5661,28.0028,20.0768,0.4839,29.6077,95.6757,10.9659,14.6116,-1.2323,-1.2826
7801,Moody's Investors Service,"eBay, Inc.",BBB+,2016-03-02,1065088,1,7370.0,BusEq,EBAY,3.4927,...,33.5661,28.0028,20.0768,0.4839,29.6077,95.6757,10.9659,14.6116,-1.2323,-1.2826
7802,Standard & Poor's Ratings Services,iHeartCommunications Inc.,CC,2016-03-08,739708,0,4832.0,Telcm,CCU,1.7606,...,14.2454,12.7232,8.0626,0.8218,11.8335,13.5108,7.7070,10.6101,0.0907,1.2552
7803,Standard & Poor's Ratings Services,iHeartCommunications Inc.,CCC,2016-03-24,739708,0,4832.0,Telcm,CCU,1.7606,...,14.2454,12.7232,8.0626,0.8218,11.8335,13.5108,7.7070,10.6101,0.0907,1.2552
7804,Standard & Poor's Ratings Services,iHeartCommunications Inc.,CC,2016-06-14,739708,0,4832.0,Telcm,CCU,1.7606,...,14.2454,12.7232,8.0626,0.8218,11.8335,13.5108,7.7070,10.6101,0.0907,1.2552

In [4]:
# All columns
print(corporate_rating.columns)
print(supplementary_data.columns)

Index(['Rating', 'Name', 'Symbol', 'Rating Agency Name', 'Date', 'Sector',
       'currentRatio', 'quickRatio', 'cashRatio', 'daysOfSalesOutstanding',
       'netProfitMargin', 'pretaxProfitMargin', 'grossProfitMargin',
       'operatingProfitMargin', 'returnOnAssets', 'returnOnCapitalEmployed',
       'returnOnEquity', 'assetTurnover', 'fixedAssetTurnover',
       'debtEquityRatio', 'debtRatio', 'effectiveTaxRate',
       'freeCashFlowOperatingCashFlowRatio', 'freeCashFlowPerShare',
       'cashPerShare', 'companyEquityMultiplier', 'ebitPerRevenue',
       'enterpriseValueMultiple', 'operatingCashFlowPerShare',
       'operatingCashFlowSalesRatio', 'payablesTurnover'],
      dtype='object')
Index(['Rating Agency', 'Corporation', 'Rating', 'Rating Date', 'CIK',
       'Binary Rating', 'SIC Code', 'Sector', 'Ticker', 'Current Ratio',
       'Long-term Debt / Capital', 'Debt/Equity Ratio', 'Gross Margin',
       'Operating Margin', 'EBIT Margin', 'EBITDA Margin',
       'Pre-Tax Profit Margin', 'Net Profit Margin', 'Asset Turnover',
       'ROE - Return On Equity', 'Return On Tangible Equity',
       'ROA - Return On Assets', 'ROI - Return On Investment',
       'Operating Cash Flow Per Share', 'Free Cash Flow Per Share'],
      dtype='object')

In [5]:
# In original data, limit to Rating, Name, Symbol, Rating Agency Name, Date, Sector
corporate_rating = corporate_rating[['Rating', 'Name', 'Symbol', 'Rating Agency Name', 'Date', 'Sector']]
# Create Source column as 'Original'
corporate_rating['Source'] = 'Original'
# Convert Date to date format
corporate_rating['Date'] = pd.to_datetime(corporate_rating['Date'])
# In supplementary data, limit to Rating Agency, Corporation, Rating, Rating Date, Sector, Ticker
supplementary_data = supplementary_data[['Rating Agency', 'Corporation', 'Rating', 'Rating Date', 'Sector', 'Ticker']]
# Convert Rating Date to date format
supplementary_data['Rating Date'] = pd.to_datetime(supplementary_data['Rating Date'])
# Create Source column as 'Supplementary'
supplementary_data['Source'] = 'Supplementary'
# Rename columns in supplementary data to match original data
supplementary_data = supplementary_data.rename(columns = {'Rating Agency':'Rating Agency Name', 'Corporation':'Name', 'Rating Date':'Date', 'Ticker':'Symbol'})
# Combined data
combined_data = pd.concat([corporate_rating, supplementary_data], ignore_index = True)
combined_data

C:\Users\ijyli\AppData\Local\Temp\ipykernel_15704\3334983285.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corporate_rating['Source'] = 'Original'
C:\Users\ijyli\AppData\Local\Temp\ipykernel_15704\3334983285.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corporate_rating['Date'] = pd.to_datetime(corporate_rating['Date'])
C:\Users\ijyli\AppData\Local\Temp\ipykernel_15704\3334983285.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  supplementary_data['Rating Date'] = pd.to_datetime(supplementary_data['Rating Date'])
C:\Users\ijyli\AppData\Local\Temp\ipykernel_15704\3334983285.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  supplementary_data['Source'] = 'Supplementary'

,Rating,Name,Symbol,Rating Agency Name,Date,Sector,Source
0,A,Whirlpool Corporation,WHR,Egan-Jones Ratings Company,2015-11-27,Consumer Durables,Original
1,BBB,Whirlpool Corporation,WHR,Egan-Jones Ratings Company,2014-02-13,Consumer Durables,Original
2,BBB,Whirlpool Corporation,WHR,Fitch Ratings,2015-03-06,Consumer Durables,Original
3,BBB,Whirlpool Corporation,WHR,Fitch Ratings,2012-06-15,Consumer Durables,Original
4,BBB,Whirlpool Corporation,WHR,Standard & Poor's Ratings Services,2016-10-24,Consumer Durables,Original
...,...,...,...,...,...,...,...
9829,BBB+,"eBay, Inc.",EBAY,Moody's Investors Service,2016-02-22,BusEq,Supplementary
9830,BBB+,"eBay, Inc.",EBAY,Moody's Investors Service,2016-03-02,BusEq,Supplementary
9831,CC,iHeartCommunications Inc.,CCU,Standard & Poor's Ratings Services,2016-03-08,Telcm,Supplementary
9832,CCC,iHeartCommunications Inc.,CCU,Standard & Poor's Ratings Services,2016-03-24,Telcm,Supplementary
9833,CC,iHeartCommunications Inc.,CCU,Standard & Poor's Ratings Services,2016-06-14,Telcm,Supplementary

In [6]:
# Missing values?
combined_data.isnull().sum()

Rating                0
Name                  0
Symbol                0
Rating Agency Name    0
Date                  0
Sector                0
Source                0
dtype: int64

In [7]:
# Name column seems tricky to harmonize, so drop for now
combined_data = combined_data.drop(columns = ['Name'])

In [8]:
# Count values of rating
print(combined_data['Rating'].value_counts())
# Strip + or - from Rating
combined_data['Rating'] = combined_data['Rating'].str.strip('+').str.strip('-')
# Count again
print(combined_data['Rating'].value_counts())

Rating
BBB     1581
A       1234
BB       943
BBB+     846
A-       722
BBB-     705
B        612
BB+      545
A+       478
BB-      427
B+       422
B-       288
AA       274
AA-      254
CCC+     151
CCC      129
AAA       97
AA+       73
CC        23
C         13
CCC-      10
D          6
CC+        1
Name: count, dtype: int64
Rating
BBB    3132
A      2434
BB     1915
B      1322
AA      601
CCC     290
AAA      97
CC       24
C        13
D         6
Name: count, dtype: int64

In [9]:
# Count values of Rating Agency Name
print(combined_data['Rating Agency Name'].value_counts())

Rating Agency Name
Standard & Poor's Ratings Services    3557
Egan-Jones Ratings Company            3429
Moody's Investors Service             2215
Fitch Ratings                          577
DBRS                                    29
Japan Credit Rating Agency,Ltd.         22
HR Ratings de Mexico S.A. de C.V.        5
Name: count, dtype: int64

In [10]:
# Count values of Sector
print(combined_data['Sector'].value_counts())
# Seems tricky to harmonize, so drop for now
combined_data = combined_data.drop(columns = ['Sector'])

Sector
Other                    1251
Manuf                     981
BusEq                     958
Utils                     843
Shops                     786
Enrgy                     665
Hlth                      625
NoDur                     567
Telcm                     386
Chems                     315
Energy                    294
Basic Industries          260
Consumer Services         250
Technology                234
Capital Goods             233
Durbl                     221
Public Utilities          211
Money                     207
Health Care               171
Consumer Non-Durables     132
Consumer Durables          74
Transportation             63
Miscellaneous              57
Finance                    50
Name: count, dtype: int64

In [11]:
# Remaining columns
print(combined_data.columns)

Index(['Rating', 'Symbol', 'Rating Agency Name', 'Date', 'Source'], dtype='object')

In [12]:
# Drop duplicates
combined_data = combined_data.drop_duplicates()

In [13]:
# Number of rows
print(combined_data.shape[0])
# String collapse on 'Rating', 'Symbol', 'Rating Agency Name', 'Date'
# Combine values of Source column
combined_data = combined_data.groupby(['Rating', 'Symbol', 'Rating Agency Name', 'Date']).agg(', '.join).reset_index()
# Number of rows
print(combined_data.shape[0])

9834
8732

In [14]:
# Values of Source
print(combined_data['Source'].value_counts())
# Recode 'Original, Supplementary' as 'Both'
combined_data['Source'] = combined_data['Source'].str.replace('Original, Supplementary', 'Both')
# Values of Source
print(combined_data['Source'].value_counts())

Source
Supplementary              6703
Original, Supplementary    1102
Original                    927
Name: count, dtype: int64
Source
Supplementary    6703
Both             1102
Original          927
Name: count, dtype: int64

In [15]:
# Summarize variables
combined_data.describe()

                                Date
count                           8732
mean   2014-06-11 15:19:22.620247552
min              2005-08-16 00:00:00
25%              2013-07-08 18:00:00
50%              2014-07-25 00:00:00
75%              2015-07-27 06:00:00
max              2016-12-27 00:00:00

In [16]:
# Print out value counts for each column
for col in combined_data.columns:
    print(col, combined_data[col].value_counts())

Rating Rating
BBB    2771
A      2195
BB     1659
B      1168
AA      546
CCC     261
AAA      91
CC       23
C        12
D         6
Name: count, dtype: int64
Symbol Symbol
DTE     44
AMX     42
SCCO    40
THC     37
PEP     37
        ..
STKL     1
TILE     1
TSLA     1
UAN      1
UNIT     1
Name: count, Length: 886, dtype: int64
Rating Agency Name Rating Agency Name
Standard & Poor's Ratings Services    3172
Egan-Jones Ratings Company            3052
Moody's Investors Service             1924
Fitch Ratings                          529
DBRS                                    28
Japan Credit Rating Agency,Ltd.         22
HR Ratings de Mexico S.A. de C.V.        5
Name: count, dtype: int64
Date Date
2012-06-15    535
2015-05-29     25
2015-09-10     22
2014-05-27     21
2013-11-26     21
             ...
2011-08-23      1
2010-09-28      1
2012-03-26      1
2011-01-25      1
2010-08-03      1
Name: count, Length: 1448, dtype: int64
Source Source
Supplementary    6703
Both             1102
Original          927
Name: count, dtype: int64

In [17]:
# Encode Ratings as ordinal
rating_order = ['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'CCC', 'CC', 'C', 'D']
# Reverse
rating_order = rating_order[::-1]
# Create dictionary mapping to number values
rating_dict = {rating: i for i, rating in enumerate(rating_order, 1)}
# Create new column "Rating Rank AAA is 10"
combined_data['Rating Rank AAA is 10'] = combined_data['Rating'].map(rating_dict)

# Cross tab Rating and 'Rating Rank AAA is 10'
pd.crosstab(combined_data['Rating'], combined_data['Rating Rank AAA is 10'])

Rating Rank AAA is 10  1   2   3    4     5     6     7     8    9   10
Rating
A                       0   0   0    0     0     0     0  2195    0   0
AA                      0   0   0    0     0     0     0     0  546   0
AAA                     0   0   0    0     0     0     0     0    0  91
B                       0   0   0    0  1168     0     0     0    0   0
BB                      0   0   0    0     0  1659     0     0    0   0
BBB                     0   0   0    0     0     0  2771     0    0   0
C                       0  12   0    0     0     0     0     0    0   0
CC                      0   0  23    0     0     0     0     0    0   0
CCC                     0   0   0  261     0     0     0     0    0   0
D                       6   0   0    0     0     0     0     0    0   0

In [18]:
# Variable for next rating, previous rating, and associated dates

# Sort appropriately
combined_data = combined_data.sort_values(by=['Rating Agency Name', 'Symbol', 'Date'])

# Next rating is next item if same Symbol and Rating Agency Name
combined_data['Next Rating'] = combined_data['Rating'].shift(-1)
# Set to NaN if next Symbol or Rating Agency Name are different
combined_data.loc[combined_data['Symbol'].shift(-1) != combined_data['Symbol'], 'Next Rating'] = None
combined_data.loc[combined_data['Rating Agency Name'].shift(-1) != combined_data['Rating Agency Name'], 'Next Rating'] = None

# Next rating date is next item if same Symbol and Rating Agency Name
combined_data['Next Rating Date'] = combined_data['Date'].shift(-1)
# Set to NaN if next Symbol or Rating Agency Name are different
combined_data.loc[combined_data['Symbol'].shift(-1) != combined_data['Symbol'], 'Next Rating Date'] = None
combined_data.loc[combined_data['Rating Agency Name'].shift(-1) != combined_data['Rating Agency Name'], 'Next Rating Date'] = None

# Previous rating is previous item if same Symbol and Rating Agency Name
combined_data['Previous Rating'] = combined_data['Rating'].shift(1)
# Set to NaN if previous Symbol or Rating Agency Name are different
combined_data.loc[combined_data['Symbol'].shift(1) != combined_data['Symbol'], 'Previous Rating'] = None
combined_data.loc[combined_data['Rating Agency Name'].shift(1) != combined_data['Rating Agency Name'], 'Previous Rating'] = None

# Previous rating date is previous item if same Symbol and Rating Agency Name
combined_data['Previous Rating Date'] = combined_data['Date'].shift(1)
# Set to NaN if previous Symbol or Rating Agency Name are different
combined_data.loc[combined_data['Symbol'].shift(1) != combined_data['Symbol'], 'Previous Rating Date'] = None
combined_data.loc[combined_data['Rating Agency Name'].shift(1) != combined_data['Rating Agency Name'], 'Previous Rating Date'] = None

In [19]:
# Variable that is Next Rating Date or End of Data - 12/31/2016 if missing
combined_data['Next Rating Date or End of Data'] = combined_data['Next Rating Date']
# Set to 12/31/2016 if missing
combined_data.loc[combined_data['Next Rating Date'].isnull(), 'Next Rating Date or End of Data'] = pd.to_datetime('12/31/2016')

In [20]:
# Mark changes in ratings
# Order by Rating Agency Name, Symbol, and Date
# If Rating is not equal to the lag but Rating Agency Name and Symbol are, flag the observation as a change in rating
combined_data = combined_data.sort_values(by=['Rating Agency Name', 'Symbol', 'Date'])
combined_data['Rating Change'] = (combined_data['Rating'] != combined_data['Rating'].shift(1)) & (combined_data['Rating Agency Name'] == combined_data['Rating Agency Name'].shift(1)) & (combined_data['Symbol'] == combined_data['Symbol'].shift(1))
# Mark item as ambiguous if rating agency or symbol changes
combined_data['Ambiguous'] = (combined_data['Rating Agency Name'] != combined_data['Rating Agency Name'].shift(1)) | (combined_data['Symbol'] != combined_data['Symbol'].shift(1))

# Create Type variable
# Ambiguous if Ambiguous is True
# Change if Rating Change is True
# Affirmation if both are False
combined_data['Type'] = 'Affirmation'
combined_data.loc[combined_data['Rating Change'], 'Type'] = 'Change'
combined_data.loc[combined_data['Ambiguous'], 'Type'] = 'Ambiguous'

# If Type is 'Change' and 'Rating Rank AAA is 10' is higher than the prior observation, flag as an upgrade
combined_data['Upgrade'] = (combined_data['Type'] == 'Change') & (combined_data['Rating Rank AAA is 10'] > combined_data['Rating Rank AAA is 10'].shift(1))
# If Type is 'Change' and 'Rating Rank AAA is 10' is lower than the prior observation, flag as a downgrade
combined_data['Downgrade'] = (combined_data['Type'] == 'Change') & (combined_data['Rating Rank AAA is 10'] < combined_data['Rating Rank AAA is 10'].shift(1))
# For Upgrades, set Type to 'Upgrade'
combined_data.loc[combined_data['Upgrade'], 'Type'] = 'Upgrade'
# For Downgrades, set Type to 'Downgrade'
combined_data.loc[combined_data['Downgrade'], 'Type'] = 'Downgrade'
# Drop Upgrade and Downgrade columns
combined_data = combined_data.drop(columns=['Upgrade', 'Downgrade'])

# Cross tabulate Type and Rating Change and Ambiguous
print(pd.crosstab(combined_data['Type'], combined_data['Rating Change']))
print(pd.crosstab(combined_data['Type'], combined_data['Ambiguous']))

# Drop Rating Change and Ambiguous columns
combined_data = combined_data.drop(columns=['Rating Change', 'Ambiguous'])

# Print 100 rows to check
print(combined_data.head(100))

Rating Change  False  True
Type
Affirmation     5516      0
Ambiguous       1951      0
Downgrade          0    627
Upgrade            0    638
Ambiguous    False  True
Type
Affirmation   5516      0
Ambiguous        0   1951
Downgrade      627      0
Upgrade        638      0
     Rating Symbol          Rating Agency Name       Date         Source  \
5932    BBB    BCE                        DBRS 2016-08-08           Both
5947    BBB    BEP                        DBRS 2015-11-09  Supplementary
5948    BBB    BEP                        DBRS 2015-11-25  Supplementary
460       A    CCJ                        DBRS 2016-06-03  Supplementary
543       A   COST                        DBRS 2014-05-20  Supplementary
...     ...    ...                         ...        ...            ...
67        A    ADI  Egan-Jones Ratings Company 2015-09-25  Supplementary
68        A    ADI  Egan-Jones Ratings Company 2015-10-14  Supplementary
5676    BBB    ADM  Egan-Jones Ratings Company 2013-08-07  Supplementary
76        A    ADM  Egan-Jones Ratings Company 2013-12-31  Supplementary
77        A    ADM  Egan-Jones Ratings Company 2014-02-14  Supplementary

      Rating Rank AAA is 10 Next Rating Next Rating Date Previous Rating  \
5932                      7        None              NaT            None
5947                      7         BBB       2015-11-25            None
5948                      7        None              NaT             BBB
460                       8        None              NaT            None
543                       8        None              NaT            None
...                     ...         ...              ...             ...
67                        8           A       2015-10-14               A
68                        8        None              NaT               A
5676                      7           A       2013-12-31            None
76                        8           A       2014-02-14             BBB
77                        8           A       2014-05-27               A

     Previous Rating Date Next Rating Date or End of Data         Type
5932                  NaT                      2016-12-31    Ambiguous
5947                  NaT                      2015-11-25    Ambiguous
5948           2015-11-09                      2016-12-31  Affirmation
460                   NaT                      2016-12-31    Ambiguous
543                   NaT                      2016-12-31    Ambiguous
...                   ...                             ...          ...
67             2015-06-16                      2015-10-14  Affirmation
68             2015-09-25                      2016-12-31  Affirmation
5676                  NaT                      2013-12-31    Ambiguous
76             2013-08-07                      2014-02-14      Upgrade
77             2013-12-31                      2014-05-27  Affirmation

[100 rows x 12 columns]

In [21]:
# Create change in rating variable
# Set to NaN by default
combined_data['Change in Rating'] = None
# If Type is Affirmation, set to 0
combined_data.loc[combined_data['Type'] == 'Affirmation', 'Change in Rating'] = 0
# If Type if Upgrade or Downgrade, set to 'Rating Rank AAA is 10' - 'Rating Rank AAA is 10' of the prior observation
combined_data.loc[combined_data['Type'] == 'Upgrade', 'Change in Rating'] = combined_data['Rating Rank AAA is 10'] - combined_data['Rating Rank AAA is 10'].shift(1)
combined_data.loc[combined_data['Type'] == 'Downgrade', 'Change in Rating'] = combined_data['Rating Rank AAA is 10'] - combined_data['Rating Rank AAA is 10'].shift(1)

# Print 100 rows to check
print(combined_data[['Rating Agency Name', 'Symbol', 'Rating Rank AAA is 10', 'Rating', 'Change in Rating']].head(100))

              Rating Agency Name Symbol  Rating Rank AAA is 10 Rating  \
5932                        DBRS    BCE                      7    BBB
5947                        DBRS    BEP                      7    BBB
5948                        DBRS    BEP                      7    BBB
460                         DBRS    CCJ                      8      A
543                         DBRS   COST                      8      A
...                          ...    ...                    ...    ...
67    Egan-Jones Ratings Company    ADI                      8      A
68    Egan-Jones Ratings Company    ADI                      8      A
5676  Egan-Jones Ratings Company    ADM                      7    BBB
76    Egan-Jones Ratings Company    ADM                      8      A
77    Egan-Jones Ratings Company    ADM                      8      A

     Change in Rating
5932             None
5947             None
5948                0
460              None
543              None
...               ...
67                  0
68                  0
5676             None
76                1.0
77                  0

[100 rows x 5 columns]

In [22]:
# Sort by Rating Agency Name, Symbol, then Date
combined_data = combined_data.sort_values(by = ['Rating Agency Name', 'Symbol', 'Date'])

In [23]:
# Save as ~\Box\STAT 222 Capstone\Intermediate Data\combined_data.csv
combined_data.to_csv('~\Box\STAT 222 Capstone\Intermediate Data\combined_credit_rating_data.csv', index = False)

<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\ijyli\AppData\Local\Temp\ipykernel_15704\2715337762.py:2: SyntaxWarning: invalid escape sequence '\B'
  combined_data.to_csv('~\Box\STAT 222 Capstone\Intermediate Data\combined_credit_rating_data.csv', index = False)