# Test Earnings Call Data Load

In [1]:
# Packages
import pandas as pd
import time
import os
import glob

In [3]:
# Load ~\Box\STAT 222 Capstone\Raw Data\Big Earnings Call Dataset\sectors\automobiles\ADNT\ADNT20172.csv
ADNT20172 = pd.read_csv('~/Box/STAT 222 Capstone/Raw Data/Big Earnings Call Dataset/sectors/automobiles/ADNT/ADNT20172.csv')

# ADNT20172

                                                 2017
0                                                   2
1                                 2017-04-28 17:00:00
2   Operator: Welcome, and thank you all for stand...
3                                              0.0309
4                                 0.30746517120967815
..                                                ...
91                               -0.11088589438642227
92                               -0.13384658521532877
93                               -0.11318212886305101
94                               -0.07503903481431928
95                                  4404884131.829224

[96 rows x 1 columns]

In [21]:
# Transpose dataframe
# It's unclear what most of the variable names are, so may want to ignore everything except the transcript and the datetime
ADNT20172_T = ADNT20172.T
ADNT20172_T

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
2017,2,2017-04-28 17:00:00,"Operator: Welcome, and thank you all for stand...",0.0309,0.30746517120967815,0.391705069124424,0.07834101382488479,63.73,0.366622699631585,0.5,...,-0.11921325693066775,-0.14195880916848824,-0.12148789324519416,-0.0837023416528917,-0.05375469753509565,-0.11088589438642227,-0.13384658521532877,-0.11318212886305101,-0.07503903481431928,4404884131.829224

In [22]:
# Keep column 1 and 2 and assign names DateTime and Transcript
ADNT20172_T = ADNT20172_T[[1, 2]]
ADNT20172_T.columns = ['DateTime', 'Transcript']
# We'll also want to use the folder names to create a symbol and sector column
ADNT20172_T

                 DateTime                                         Transcript
2017  2017-04-28 17:00:00  Operator: Welcome, and thank you all for stand...

In [23]:
# Time loading for all CSV files in ~\Box\STAT 222 Capstone\Raw Data\Big Earnings Call Dataset\sectors\automobiles\ADNT
start = time.time()
path = r'~/Box/STAT 222 Capstone/Raw Data/Big Earnings Call Dataset/sectors/automobiles/ADNT' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent
df_from_each_file = (pd.read_csv(f) for f in all_files)
end = time.time()
print("Time to load all CSV files in ~\Box\STAT 222 Capstone\Raw Data\Big Earnings Call Dataset\sectors\automobiles\ADNT: ", end - start)

Time to load all CSV files in ~\Box\STAT 222 Capstone\Raw Data\Big Earnings Call Dataset\sectorsutomobiles\ADNT:  0.0

<>:7: SyntaxWarning: invalid escape sequence '\B'
<>:7: SyntaxWarning: invalid escape sequence '\B'
C:\Users\ijyli\AppData\Local\Temp\ipykernel_21260\3369746967.py:7: SyntaxWarning: invalid escape sequence '\B'
  print("Time to load all CSV files in ~\Box\STAT 222 Capstone\Raw Data\Big Earnings Call Dataset\sectors\automobiles\ADNT: ", end - start)